In [0]:
l  = [('X',)]

In [0]:
df = spark.createDataFrame(l, "dummy string")

In [0]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [0]:
df.printSchema()

root
 |-- dummy: string (nullable = true)

In [0]:
from pyspark.sql.functions import *

In [0]:
l = [('X',)]

In [0]:
df = spark.createDataFrame(l,"dummy STRING")

In [0]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [0]:
df.select(current_date()).show()

+--------------+
|current_date()|
+--------------+
|    2023-10-03|
+--------------+

In [0]:
df.select(current_date().alias("current_date")).show()

+------------+
|current_date|
+------------+
|  2023-10-03|
+------------+

In [0]:
employee_list = [(1,"bob","jackson",1500.0,"AUSTRALIA","+61 9890989789","345 23 5645"),
            (2,"hill","martin",750.0,"UK","+44 3465789709","390 45 7598")]

In [0]:
emp = spark.createDataFrame(employee_list, schema = """employee_id INT, first_name STRING, last_name STRING, salary FLOAT, nationality STRING,
                            phone_number STRING, ssn STRING """)

In [0]:
emp.show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
emp = spark.createDataFrame(employee_list, schema = 'employee_id INT, first_name STRING, last_name STRING, salary FLOAT, nationality STRING, \
                            phone_number STRING, ssn STRING ')

In [0]:
emp.show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
emp.show(truncate=False)

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|phone_number  |ssn        |
+-----------+----------+---------+------+-----------+--------------+-----------+
|1          |bob       |jackson  |1500.0|AUSTRALIA  |+61 9890989789|345 23 5645|
|2          |hill      |martin   |750.0 |UK         |+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+