In [0]:
employee_list = [(1,"bob","jackson",1500.0,"AUSTRALIA","+61 9890989789","345 23 5645"),
            (2,"hill","martin",750.0,"UK","+44 3465789709","390 45 7598")]

In [0]:
emp = spark.createDataFrame(employee_list, schema = """employee_id INT, first_name STRING, last_name STRING, salary FLOAT, nationality STRING,
                            phone_number STRING, ssn STRING """)

In [0]:
from pyspark.sql.functions import *

In [0]:
emp.show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
emp.withColumn("nationality", lower('nationality')).show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  australia|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         uk|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+