In [0]:
employee_list = [(1,"bob","jackson",1500.0,"AUSTRALIA","+61 9890989789","345 23 5645"),
            (2,"hill","martin",750.0,"UK","+44 3465789709","390 45 7598")]

In [0]:
emp = spark.createDataFrame(employee_list, schema = """employee_id INT, first_name STRING, last_name STRING, salary FLOAT, nationality STRING,
                            phone_number STRING, ssn STRING """)

In [0]:
from pyspark.sql.functions import *

In [0]:
emp.show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
emp.groupBy("nationality").count().show()

+-----------+-----+
|nationality|count|
+-----------+-----+
|  AUSTRALIA|    1|
|         UK|    1|
+-----------+-----+

In [0]:
emp.orderBy("employee_id").show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+


- If there are no transformations on any column in any function then we shold be able to pass all column names as string

- If we have to invoke functions such as cast,desc, etc to customize the behaviour then we have to build column object using col

In [0]:
help(col)

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

    .. versionadded:: 1.3

In [0]:
type(col('first_name'))

Out[9]: pyspark.sql.column.Column

In [0]:
emp.select(col('first_name'),col('last_name')).show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|       bob|  jackson|
|      hill|   martin|
+----------+---------+

In [0]:
help(upper)

Help on function upper in module pyspark.sql.functions:

upper(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Converts a string expression to upper case.

    .. versionadded:: 1.5

In [0]:
type(upper('first_name'))

Out[12]: pyspark.sql.column.Column

In [0]:
emp.select(upper("first_name"),upper("last_name")).show()

+-----------------+----------------+
|upper(first_name)|upper(last_name)|
+-----------------+----------------+
|              BOB|         JACKSON|
|             HILL|          MARTIN|
+-----------------+----------------+

In [0]:
emp.select(upper(col("first_name")),upper(col("last_name"))).show()

+-----------------+----------------+
|upper(first_name)|upper(last_name)|
+-----------------+----------------+
|              BOB|         JACKSON|
|             HILL|          MARTIN|
+-----------------+----------------+

In [0]:
emp.groupBy(upper("nationality").alias('nationality')).count().show()

+-----------+-----+
|nationality|count|
+-----------+-----+
|  AUSTRALIA|    1|
|         UK|    1|
+-----------+-----+

In [0]:
from pyspark.sql.column import Column
help(Column)

Help on class Column in module pyspark.sql.column:

class Column(builtins.object)
 |  Column(jc: py4j.java_gateway.JavaObject) -> None
 |
 |  A column in a DataFrame.
 |
 |  :class:`Column` instances can be created by::
 |
 |      # 1. Select a column out of a DataFrame
 |
 |      df.colName
 |      df["colName"]
 |
 |      # 2. Create from an expression
 |      df.colName + 1
 |      1 / df.colName
 |
 |  .. versionadded:: 1.3.0
 |
 |  Methods defined here:
 |
 |  __add__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __and__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __bool__ = __nonzero__(self) -> None
 |
 |  __contains__(self, item: Any) -> None
 |      # container operators
 |
 |  __div__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __eq__(self, other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary function
 |
 |  __ge__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __getattr__(self, item: Any) -> 'Column'
 |
 |  __getitem__(self, k: Any) -> 'Column'
 |
 |  __gt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __init__(self, jc: py4j.java_gateway.JavaObject) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __invert__ = _(self: 'Column') -> 'Column'
 |
 |  __iter__(self) -> None
 |
 |  __le__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __lt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mod__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ne__(self, other: Any) -> 'Column'
 |      binary function
 |
 |  __neg__ = _(self: 'Column') -> 'Column'
 |
 |  __nonzero__(self) -> None
 |
 |  __or__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __pow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __radd__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rand__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rdiv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  __rmod__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rmul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ror__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rpow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __rsub__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rtruediv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __sub__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __truediv__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  alias(self, *alias: str, **kwargs: Any) -> 'Column'
 |      Returns this column aliased with a new name or names (in the case of expressions that
 |      return more than one column, such as explode).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          desired column names (collects all positional arguments passed)
 |
 |      Other Parameters
 |      ----------------
 |      metadata: dict
 |          a dict of information to be stored in ``metadata`` attribute of the
 |          corresponding :class:`StructField <pyspark.sql.types.StructField>` (optional, keyword
 |          only argument)
 |
 |          .. versionchanged:: 2.2.0
 |             Added optional ``metadata`` argument.
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.alias("age2")).collect()
 |      [Row(age2=2), Row(age2=5)]
 |      >>> df.select(df.age.alias("age3", metadata={'max': 99})).schema['age3'].metadata['max']
 |      99
 |
 |  asc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc()).collect()
 |      [Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      return before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_last()).collect()
 |      [Row(name='Alice'), Row(name='Tom'), Row(name=None)]
 |
 |  astype = cast(self, dataType)
 |      :func:`astype` is an alias for :func:`cast`.
 |
 |      .. versionadded:: 1.4
 |
 |  between(self, lowerBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')], upperBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      True if the current column is between the lower bound and upper bound, inclusive.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.name, df.age.between(2, 4)).show()
 |      +-----+---------------------------+
 |      | name|((age >= 2) AND (age <= 4))|
 |      +-----+---------------------------+
 |      |Alice|                       true|
 |      |  Bob|                      false|
 |      +-----+---------------------------+
 |
 |  bitwiseAND = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise AND of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise and(&) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseAND(df.b)).collect()
 |      [Row((a & b)=10)]
 |
 |  bitwiseOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise OR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise or(|) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseOR(df.b)).collect()
 |      [Row((a | b)=235)]
 |
 |  bitwiseXOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise XOR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise xor(^) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseXOR(df.b)).collect()
 |      [Row((a ^ b)=225)]
 |
 |  cast(self, dataType: Union[pyspark.sql.types.DataType, str]) -> 'Column'
 |      Casts the column into type ``dataType``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.cast("string").alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |      >>> df.select(df.age.cast(StringType()).alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |
 |  contains = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Contains the other element. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other
 |          string in line. A value as a literal or a :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.contains('o')).collect()
 |      [Row(age=5, name='Bob')]
 |
 |  desc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc()).collect()
 |      [Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_last()).collect()
 |      [Row(name='Tom'), Row(name='Alice'), Row(name=None)]
 |
 |  dropFields(self, *fieldNames: str) -> 'Column'
 |      An expression that drops fields in :class:`StructType` by name.
 |      This is a no-op if schema doesn't contain field name(s).
 |
 |      .. versionadded:: 3.1.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> from pyspark.sql.functions import col, lit
 |      >>> df = spark.createDataFrame([
 |      ...     Row(a=Row(b=1, c=2, d=3, e=Row(f=4, g=5, h=6)))])
 |      >>> df.withColumn('a', df['a'].dropFields('b')).show()
 |      +-----------------+
 |      |                a|
 |      +-----------------+
 |      |{2, 3, {4, 5, 6}}|
 |      +-----------------+
 |
 |      >>> df.withColumn('a', df['a'].dropFields('b', 'c')).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{3, {4, 5, 6}}|
 |      +--------------+
 |
 |      This method supports dropping multiple nested fields directly e.g.
 |
 |      >>> df.withColumn("a", col("a").dropFields("e.g", "e.h")).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |      However, if you are going to add/replace multiple nested fields,
 |      it is preferred to extract out the nested struct before
 |      adding/replacing multiple fields e.g.
 |
 |      >>> df.select(col("a").withField(
 |      ...     "e", col("a.e").dropFields("g", "h")).alias("a")
 |      ... ).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |  endswith = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      String ends with. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other : :class:`Column` or str
 |          string at end of line (do not use a regex `$`)
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.endswith('ice')).collect()
 |      [Row(age=2, name='Alice')]
 |      >>> df.filter(df.name.endswith('ice$')).collect()
 |      []
 |
 |  eqNullSafe = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Equality test that is safe for null values.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df1 = spark.createDataFrame([
 |      ...     Row(id=1, value='foo'),
 |      ...     Row(id=2, value=None)
 |      ... ])
 |      >>> df1.select(
 |      ...     df1['value'] == 'foo',
 |      ...     df1['value'].eqNullSafe('foo'),
 |      ...     df1['value'].eqNullSafe(None)
 |      ... ).show()
 |      +-------------+---------------+----------------+
 |      |(value = foo)|(value <=> foo)|(value <=> NULL)|
 |      +-------------+---------------+----------------+
 |      |         true|           true|           false|
 |      |         null|          false|            true|
 |      +-------------+---------------+----------------+
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(value = 'bar'),
 |      ...     Row(value = None)
 |      ... ])
 |      >>> df1.join(df2, df1["value"] == df2["value"]).count()
 |      0
 |      >>> df1.join(df2, df1["value"].eqNullSafe(df2["value"])).count()
 |      1
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(id=1, value=float('NaN')),
 |      ...     Row(id=2, value=42.0),
 |      ...     Row(id=3, value=None)
 |      ... ])
 |      >>> df2.select(
 |      ...     df2['value'].eqNullSafe(None),
 |      ...     df2['value'].eqNullSafe(float('NaN')),
 |      ...     df2['value'].eqNullSafe(42.0)
 |      ... ).show()
 |      +----------------+---------------+----------------+
 |      |(value <=> NULL)|(value <=> NaN)|(value <=> 42.0)|
 |      +----------------+---------------+----------------+
 |      |           false|           true|           false|
 |      |           false|          false|            true|
 |      |            true|          false|           false|
 |      +----------------+---------------+----------------+
 |
 |      Notes
 |      -----
 |      Unlike Pandas, PySpark doesn't consider NaN values to be NULL. See the
 |      `NaN Semantics <https://spark.apache.org/docs/latest/sql-ref-datatypes.html#nan-semantics>`_
 |      for details.
 |
 |  getField(self, name: Any) -> 'Column'
 |      An expression that gets a field by name in a :class:`StructType`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(r=Row(a=1, b="b"))])
 |      >>> df.select(df.r.getField("b")).show()
 |      +---+
 |      |r.b|
 |      +---+
 |      |  b|
 |      +---+
 |      >>> df.select(df.r.a).show()
 |      +---+
 |      |r.a|
 |      +---+
 |      |  1|
 |      +---+
 |
 |  getItem(self, key: Any) -> 'Column'
 |      An expression that gets an item at position ``ordinal`` out of a list,
 |      or gets an item by key out of a dict.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([([1, 2], {"key": "value"})], ["l", "d"])
 |      >>> df.select(df.l.getItem(0), df.d.getItem("key")).show()
 |      +----+------+
 |      |l[0]|d[key]|
 |      +----+------+
 |      |   1| value|
 |      +----+------+
 |
 |  ilike = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      SQL ILIKE expression (case insensitive LIKE). Returns a boolean :class:`Column`
 |      based on a case insensitive match.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      other : str
 |          a SQL LIKE pattern
 |
 |      See Also
 |      --------
 |      pyspark.sql.Column.rlike
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.ilike('%Ice')).collect()
 |      [Row(age=2, name='Alice')]
 |
 |  isNotNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is NOT null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNotNull()).collect()
 |      [Row(name='Tom', height=80)]
 |
 |  isNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNull()).collect()
 |      [Row(name='Alice', height=None)]
 |
 |  isin(self, *cols: Any) -> 'Column'

In [0]:
emp.orderBy("employee_id".desc()).show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-3025750883095265> in <cell line: 1>()
----> 1 emp.orderBy("employee_id".desc()).show()

AttributeError: 'str' object has no attribute 'desc'

In [0]:
emp.orderBy(col("employee_id").desc()).show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
# we are not projecting the col, so its not changes to upeer case
emp.orderBy(upper(emp['first_name']).alias('first_name')).show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
# we are not projecting the col, so its not changes to upeer case
emp.orderBy(upper(emp.first_name).alias('first_name')).show()

+-----------+----------+---------+------+-----------+--------------+-----------+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|
+-----------+----------+---------+------+-----------+--------------+-----------+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|
+-----------+----------+---------+------+-----------+--------------+-----------+

In [0]:
emp. \
    select(concat(col('first_name'),", ",col('last_name'))).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-3025750883095269> in <cell line: 1>()
----> 1 emp. \
      2     select(concat(col('first_name'),", ",col('last_name'))).show()

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/dataframe.py in select(self, *cols)
   2107         [Row(name='Alice', age=12), Row(name='Bob', age=15)]
   2108         """
-> 2109         jdf = self._jdf.select(self._jcols(*cols))
   2110         return DataFrame(jdf, self.sparkSession)
   2111

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `, ` cannot be resolved. Did you mean one of the following? [`ssn`, `salary`, `last_name`, `first_name`, `employee_id`];
'Project [unresolvedalias(concat(first_name#3, ', , last_name#4), Some(org.apache.spark.sql.Column$$Lambda$7271/2067259968@6e33e124))]
+- LogicalRDD [employee_id#2, first_name#3, last_name#4, salary#5, nationality#6, phone_number#7, ssn#8], false

In [0]:
emp. \
    select(concat(emp['first_name'],", ",emp['last_name'])).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-3025750883095270> in <cell line: 1>()
----> 1 emp. \
      2     select(concat(emp['first_name'],", ",emp['last_name'])).show()

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/dataframe.py in select(self, *cols)
   2107         [Row(name='Alice', age=12), Row(name='Bob', age=15)]
   2108         """
-> 2109         jdf = self._jdf.select(self._jcols(*cols))
   2110         return DataFrame(jdf, self.sparkSession)
   2111

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `, ` cannot be resolved. Did you mean one of the following? [`ssn`, `salary`, `last_name`, `first_name`, `employee_id`];
'Project [unresolvedalias(concat(first_name#3, ', , last_name#4), Some(org.apache.spark.sql.Column$$Lambda$7271/2067259968@6e33e124))]
+- LogicalRDD [employee_id#2, first_name#3, last_name#4, salary#5, nationality#6, phone_number#7, ssn#8], false

In [0]:
help(lit)

Help on function lit in module pyspark.sql.functions:

lit(col: Any) -> pyspark.sql.column.Column
    Creates a :class:`~pyspark.sql.Column` of literal value.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.select(lit(5).alias('height')).withColumn('spark_user', lit(True)).take(1)
    [Row(height=5, spark_user=True)]

In [0]:
help(concat)

Help on function concat in module pyspark.sql.functions:

concat(*cols: 'ColumnOrName') -> pyspark.sql.column.Column
    Concatenates multiple input columns together into a single column.
    The function works with strings, binary and compatible array columns.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df.select(concat(df.s, df.d).alias('s')).collect()
    [Row(s='abcd123')]

    >>> df = spark.createDataFrame([([1, 2], [3, 4], [5]), ([1, 2], None, [3])], ['a', 'b', 'c'])
    >>> df.select(concat(df.a, df.b, df.c).alias("arr")).collect()
    [Row(arr=[1, 2, 3, 4, 5]), Row(arr=None)]

In [0]:
# doesnt work, we have to use both col and lit 

emp.withColumn('bonus', 'salary' * lit(0.2)).show()

+-----------+----------+---------+------+-----------+--------------+-----------+-----+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|bonus|
+-----------+----------+---------+------+-----------+--------------+-----------+-----+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645| null|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598| null|
+-----------+----------+---------+------+-----------+--------------+-----------+-----+

In [0]:
emp.withColumn('bonus', col('salary') * lit(0.2)).show()

+-----------+----------+---------+------+-----------+--------------+-----------+-----+
|employee_id|first_name|last_name|salary|nationality|  phone_number|        ssn|bonus|
+-----------+----------+---------+------+-----------+--------------+-----------+-----+
|          1|       bob|  jackson|1500.0|  AUSTRALIA|+61 9890989789|345 23 5645|300.0|
|          2|      hill|   martin| 750.0|         UK|+44 3465789709|390 45 7598|150.0|
+-----------+----------+---------+------+-----------+--------------+-----------+-----+