In [0]:
s = "hello suraj"

In [0]:
s[:3]

'hel'

In [0]:
help(substring)

Help on function substring in module pyspark.sql.functions:

substring(str: 'ColumnOrName', pos: int, len: int) -> pyspark.sql.column.Column
    Substring starts at `pos` and is of length `len` when str is String type or
    returns the slice of byte array that starts at `pos` in byte and is of length `len`
    when str is Binary type.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Notes
    -----
    The position is not zero based, but 1 based index.

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        target column to work on.
    pos : int
        starting position in str.
    len : int
        length of chars.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        substring of given value.

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd',)], ['s',])
    >>> df.select(substring(df.s, 1, 2).alias('s')).collect()
    [Row(s='ab')]

In [0]:
l = [("X",)]

In [0]:
df = spark.createDataFrame(l, "dummy string")

In [0]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [0]:
from pyspark.sql.functions import *

In [0]:
df.select(substring(lit("Hello World"),1,4)).show()

+----------------------------+
|substring(Hello World, 1, 4)|
+----------------------------+
|                        Hell|
+----------------------------+

In [0]:
employees = [
    (1, "Scott", "Tiger", 1000.0, "united states", "+1 123 456 7890", "123 45 6789"),
    (2, "Henry", "Ford", 1250.0, "india", "+91 234 567 8901", "456 78 9123"),
    (3, "Nick", "Junior", 750.0, "united kingdom", "+44 111 111 111", "222 33 4444"),
    (4, "Bill", "Gomes", 1500.0, "australia", "+61 987 654 3210", "789 12 6113"),
]

In [0]:
empdf = spark.createDataFrame(employees, schema = """employee_id INT, first_name STRING,
                              last_name STRING, salary FLOAT, nationality STRING,
                              phone_number STRING, ssn STRING                              
                               """)

In [0]:
empdf.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
empdf. \
    select("employee_id","phone_number","ssn"). \
    withColumn("phone_last", substring(col('phone_number'),-4,4).cast('int')). \
    withColumn("ssn_last4", substring(col('ssn'),8,4).cast('int')).\
    show()

+-----------+----------------+-----------+----------+---------+
|employee_id|    phone_number|        ssn|phone_last|ssn_last4|
+-----------+----------------+-----------+----------+---------+
|          1| +1 123 456 7890|123 45 6789|      7890|     6789|
|          2|+91 234 567 8901|456 78 9123|      8901|     9123|
|          3| +44 111 111 111|222 33 4444|       111|     4444|
|          4|+61 987 654 3210|789 12 6113|      3210|     6113|
+-----------+----------------+-----------+----------+---------+

In [0]:
empdf. \
    select("employee_id","phone_number","ssn"). \
    withColumn("phone_last", substring('phone_number',-4,4).cast('int')). \
    withColumn("ssn_last4", substring('ssn',8,4).cast('int')).\
    show()

+-----------+----------------+-----------+----------+---------+
|employee_id|    phone_number|        ssn|phone_last|ssn_last4|
+-----------+----------------+-----------+----------+---------+
|          1| +1 123 456 7890|123 45 6789|      7890|     6789|
|          2|+91 234 567 8901|456 78 9123|      8901|     9123|
|          3| +44 111 111 111|222 33 4444|       111|     4444|
|          4|+61 987 654 3210|789 12 6113|      3210|     6113|
+-----------+----------------+-----------+----------+---------+