In [0]:
from pyspark.sql.functions import *

In [0]:
employees = [
    (1, None, "Tiger", None,30,"united states", "+1 123 456 7890", "123 45 6789"),
    (2, "Henry", "Ford", 1250.0,None, "india", "+91 234 567 8901", "456 78 9123"),
    (3, "Nick", "Junior",500.0,"", "united kingdom", "+44 111 111 111", "222 33 4444"),
    (4, "Bill", "Gomes", 1500.0,150, "australia", "+61 987 654 3210", "789 12 6113"),
]

In [0]:
empdf = spark.createDataFrame(employees, schema = """employee_id INT, first_name STRING,
                              last_name STRING, salary FLOAT, bonus STRING, nationality STRING,
                              phone_number STRING, ssn STRING                              
                               """)

In [0]:
empdf.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
help(coalesce)

Help on function coalesce in module pyspark.sql.functions:

coalesce(*cols: 'ColumnOrName') -> pyspark.sql.column.Column
    Returns the first column that is not null.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : :class:`~pyspark.sql.Column` or str
        list of columns to work on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        value of the first column that is not null.

    Examples
    --------
    >>> cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
    >>> cDf.show()
    +----+----+
    |   a|   b|
    +----+----+
    |NULL|NULL|
    |   1|NULL|
    |NULL|   2|
    +----+----+

    >>> cDf.select(coalesce(cDf["a"], cDf["b"])).show()
    +--------------+
    |coalesce(a, b)|
    +--------------+
    |          NULL|
    |             1|
    |             2|
    +--------------+

    >>> cDf.select('*', coalesce(cDf["a"], lit(0.0))).show()
    +----+----+----------------+
    |   a|   b|coalesce(a, 0.0)|
    +----+----+----------------+
    |NULL|NULL|             0.0|
    |   1|NULL|             1.0|
    |NULL|   2|             0.0|
    +----+----+----------------+

In [0]:
# Fails because 0 is not passed as column object. But using lit it will look for a column with name 0
empdf. \
    withColumn('bonus1', coalesce('bonus', 0)). \
    show()

---------------------------------------------------------------------------
PySparkTypeError                          Traceback (most recent call last)
File <command-1590524349081141>, line 3
      1 # Fails because 0 is not passed as column object. But using lit it will look for a column with name 0
      2 empdf. \
----> 3     withColumn('bonus1', coalesce('bonus', 0)). \
      4     show()

File /databricks/spark/python/pyspark/sql/utils.py:162, in try_remote_functions.<locals>.wrapped(*args, **kwargs)
    160     return getattr(functions, f.__name__)(*args, **kwargs)
    161 else:
--> 162     return f(*args, **kwargs)

File /databricks/spark/python/pyspark/sql/functions.py:3803, in coalesce(*cols)
   3754 @try_remote_functions
   3755 def coalesce(*cols: "ColumnOrName") -> Column:
   3756     """Returns the first column that is not null.
   3757
   3758     .. versionadded:: 1.4.0
   (...)
   3801     +----+----+----------------+
   3802     """
-> 3803     return _invoke_function_over_seq_of_columns("coalesce", cols)

File /databricks/spark/python/pyspark/sql/functions.py:115, in _invoke_function_over_seq_of_columns(name, cols)
    110 """
    111 Invokes unary JVM function identified by name with
    112 and wraps the result with :class:`~pyspark.sql.Column`.
    113 """
    114 sc = get_active_spark_context()
--> 115 return _invoke_function(name, _to_seq(sc, cols, _to_java_column))

File /databricks/spark/python/pyspark/sql/column.py:89, in _to_seq(sc, cols, converter)
     82 """
     83 Convert a list of Columns (or names) into a JVM Seq of Column.
     84
     85 An optional `converter` could be used to convert items in `cols`
     86 into JVM Column objects.
     87 """
     88 if converter:
---> 89     cols = [converter(c) for c in cols]
     90 assert sc._jvm is not None
     91 return sc._jvm.PythonUtils.toSeq(cols)

File /databricks/spark/python/pyspark/sql/column.py:89, in <listcomp>(.0)
     82 """
     83 Convert a list of Columns (or names) into a JVM Seq of Column.
     84
     85 An optional `converter` could be used to convert items in `cols`
     86 into JVM Column objects.
     87 """
     88 if converter:
---> 89     cols = [converter(c) for c in cols]
     90 assert sc._jvm is not None
     91 return sc._jvm.PythonUtils.toSeq(cols)

File /databricks/spark/python/pyspark/sql/column.py:66, in _to_java_column(col)
     64     jcol = _create_column_from_name(col)
     65 else:
---> 66     raise PySparkTypeError(
     67         error_class="NOT_COLUMN_OR_STR",
     68         message_parameters={"arg_name": "col", "arg_type": type(col).__name__},
     69     )
     70 return jcol

PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got int.

In [0]:
empdf. \
    withColumn('bonus1', coalesce('bonus', lit(0))). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    30|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|     0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|      |
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|   150|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+

In [0]:
empdf. \
    withColumn('bonus1', col('bonus').cast('int')). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    30|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|  NULL|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|  NULL|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|   150|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+

In [0]:
empdf. \
    withColumn('bonus1', coalesce(col('bonus').cast('int'), lit(0))). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    30|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|     0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|     0|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|   150|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+

In [0]:
empdf. \
    withColumn('bonus1', expr("nvl(bonus,0)")). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    30|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|     0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|      |
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|   150|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+

In [0]:
empdf. \
    withColumn('bonus1', expr("nvl(nullif(bonus,''),0)")). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    30|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|     0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|     0|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|   150|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+

In [0]:
empdf. \
    withColumn('payment', col('salary') + ( col('salary') * coalesce(col('bonus'), lit(0)) / 100 )). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|payment|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|   NULL|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123| 1250.0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|   NULL|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113| 3750.0|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+

In [0]:
empdf. \
    withColumn('payment', col('salary') + ( col('salary') * coalesce(col('bonus').cast('int'), lit(0)) / 100 )). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|payment|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|   NULL|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123| 1250.0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|  500.0|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113| 3750.0|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+

In [0]:
empdf. \
    withColumn('payment', coalesce(col('salary'),lit(0)) + ( coalesce(col('salary'),lit(0)) * coalesce(col('bonus').cast('int'), lit(0)) / 100 )). \
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|payment|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|          1|      NULL|    Tiger|  NULL|   30| united states| +1 123 456 7890|123 45 6789|    0.0|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123| 1250.0|
|          3|      Nick|   Junior| 500.0|     |united kingdom| +44 111 111 111|222 33 4444|  500.0|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113| 3750.0|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+

In [0]:
employees = [
    (1, "Scott", None, 1000.0,30,"united states", "+1 123 456 7890", "123 45 6789"),
    (2, "Henry", "Ford", 1250.0, None, "india", "+91 234 567 8901", "456 78 9123"),
    (3, "Nick", None, None,"", "united kingdom", "+44 111 111 111", "222 33 4444"),
    (4, "Bill", "Gomes", 1500.0,150, "australia", "+61 987 654 3210", "789 12 6113"),
]

In [0]:
empdf = spark.createDataFrame(employees, schema = """employee_id INT, first_name STRING,
                              last_name STRING, salary FLOAT, bonus STRING, nationality STRING,
                              phone_number STRING, ssn STRING                              
                               """)

In [0]:
empdf.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|     NULL|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|     NULL|  NULL|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
help(empdf.na)

Help on DataFrameNaFunctions in module pyspark.sql.dataframe object:

class DataFrameNaFunctions(builtins.object)
 |  DataFrameNaFunctions(df: pyspark.sql.dataframe.DataFrame)
 |
 |  Functionality for working with missing data in :class:`DataFrame`.
 |
 |  .. versionadded:: 1.4.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Methods defined here:
 |
 |  __init__(self, df: pyspark.sql.dataframe.DataFrame)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  drop(self, how: str = 'any', thresh: Optional[int] = None, subset: Union[str, Tuple[str, ...], List[str], NoneType] = None) -> pyspark.sql.dataframe.DataFrame
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      how : str, optional
 |          'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      thresh: int, optional
 |          default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          DataFrame with null only rows excluded.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([
 |      ...     Row(age=10, height=80, name="Alice"),
 |      ...     Row(age=5, height=None, name="Bob"),
 |      ...     Row(age=None, height=None, name="Tom"),
 |      ...     Row(age=None, height=None, name=None),
 |      ... ])
 |      >>> df.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |  fill(self, value: Union[ForwardRef('LiteralType'), Dict[str, ForwardRef('LiteralType')]], subset: Optional[List[str]] = None) -> pyspark.sql.dataframe.DataFrame
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      value : int, float, string, bool or dict
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, float, boolean, or string.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |          Columns specified in subset that do not have matching data types are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          DataFrame with replaced null values.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (10, 80.5, "Alice", None),
 |      ...     (5, None, "Bob", None),
 |      ...     (None, None, "Tom", None),
 |      ...     (None, None, None, True)],
 |      ...     schema=["age", "height", "name", "bool"])
 |
 |      Fill all null values with 50 for numeric columns.
 |
 |      >>> df.na.fill(50).show()
 |      +---+------+-----+----+
 |      |age|height| name|bool|
 |      +---+------+-----+----+
 |      | 10|  80.5|Alice|NULL|
 |      |  5|  50.0|  Bob|NULL|
 |      | 50|  50.0|  Tom|NULL|
 |      | 50|  50.0| NULL|true|
 |      +---+------+-----+----+
 |
 |      Fill all null values with ``False`` for boolean columns.
 |
 |      >>> df.na.fill(False).show()
 |      +----+------+-----+-----+
 |      | age|height| name| bool|
 |      +----+------+-----+-----+
 |      |  10|  80.5|Alice|false|
 |      |   5|  NULL|  Bob|false|
 |      |NULL|  NULL|  Tom|false|
 |      |NULL|  NULL| NULL| true|
 |      +----+------+-----+-----+
 |
 |      Fill all null values with to 50 and "unknown" for 'age' and 'name' column respectively.
 |
 |      >>> df.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+----+
 |      |age|height|   name|bool|
 |      +---+------+-------+----+
 |      | 10|  80.5|  Alice|NULL|
 |      |  5|  NULL|    Bob|NULL|
 |      | 50|  NULL|    Tom|NULL|
 |      | 50|  NULL|unknown|true|
 |      +---+------+-------+----+
 |
 |  replace(self, to_replace: Union[List[ForwardRef('LiteralType')], Dict[ForwardRef('LiteralType'), ForwardRef('OptionalPrimitiveType')]], value: Union[ForwardRef('OptionalPrimitiveType'), List[ForwardRef('OptionalPrimitiveType')], pyspark._globals._NoValueType, NoneType] = <no value>, subset: Optional[List[str]] = None) -> pyspark.sql.dataframe.DataFrame
 |      Returns a new :class:`DataFrame` replacing a value with another value.
 |      :func:`DataFrame.replace` and :func:`DataFrameNaFunctions.replace` are
 |      aliases of each other.
 |      Values to_replace and value must have the same type and can only be numerics, booleans,
 |      or strings. Value can have None. When replacing, the new value will be cast
 |      to the type of the existing column.
 |      For numeric replacements all values to be replaced should have unique
 |      floating point representation. In case of conflicts (for example with `{42: -1, 42.0: 1}`)
 |      and arbitrary replacement will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      to_replace : bool, int, float, string, list or dict
 |          Value to be replaced.
 |          If the value is a dict, then `value` is ignored or can be omitted, and `to_replace`
 |          must be a mapping between a value and a replacement.
 |      value : bool, int, float, string or None, optional
 |          The replacement value must be a bool, int, float, string or None. If `value` is a
 |          list, `value` should be of the same length and type as `to_replace`.
 |          If `value` is a scalar and `to_replace` is a sequence, then `value` is
 |          used as a replacement for each item in `to_replace`.
 |      subset : list, optional
 |          optional list of column names to consider.
 |          Columns specified in subset that do not have matching data types are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          DataFrame with replaced values.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (10, 80, "Alice"),
 |      ...     (5, None, "Bob"),
 |      ...     (None, 10, "Tom"),
 |      ...     (None, None, None)],
 |      ...     schema=["age", "height", "name"])
 |
 |      Replace 10 to 20 in all columns.
 |
 |      >>> df.na.replace(10, 20).show()
 |      +----+------+-----+
 |      | age|height| name|
 |      +----+------+-----+
 |      |  20|    80|Alice|
 |      |   5|  NULL|  Bob|
 |      |NULL|    20|  Tom|
 |      |NULL|  NULL| NULL|
 |      +----+------+-----+
 |
 |      Replace 'Alice' to null in all columns.
 |
 |      >>> df.na.replace('Alice', None).show()
 |      +----+------+----+
 |      | age|height|name|
 |      +----+------+----+
 |      |  10|    80|NULL|
 |      |   5|  NULL| Bob|
 |      |NULL|    10| Tom|
 |      |NULL|  NULL|NULL|
 |      +----+------+----+
 |
 |      Replace 'Alice' to 'A', and 'Bob' to 'B' in the 'name' column.
 |
 |      >>> df.na.replace(['Alice', 'Bob'], ['A', 'B'], 'name').show()
 |      +----+------+----+
 |      | age|height|name|
 |      +----+------+----+
 |      |  10|    80|   A|
 |      |   5|  NULL|   B|
 |      |NULL|    10| Tom|
 |      |NULL|  NULL|NULL|
 |      +----+------+----+
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [0]:
help(empdf.na.fill)

Help on method fill in module pyspark.sql.dataframe:

fill(value: Union[ForwardRef('LiteralType'), Dict[str, ForwardRef('LiteralType')]], subset: Optional[List[str]] = None) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.dataframe.DataFrameNaFunctions instance
    Replace null values, alias for ``na.fill()``.
    :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.

    .. versionadded:: 1.3.1

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    value : int, float, string, bool or dict
        Value to replace null values with.
        If the value is a dict, then `subset` is ignored and `value` must be a mapping
        from column name (string) to replacement value. The replacement value must be
        an int, float, boolean, or string.
    subset : str, tuple or list, optional
        optional list of column names to consider.
        Columns specified in subset that do not have matching data types are ignored.
        For example, if `value` is a string, and subset contains a non-string column,
        then the non-string column is simply ignored.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with replaced null values.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (10, 80.5, "Alice", None),
    ...     (5, None, "Bob", None),
    ...     (None, None, "Tom", None),
    ...     (None, None, None, True)],
    ...     schema=["age", "height", "name", "bool"])

    Fill all null values with 50 for numeric columns.

    >>> df.na.fill(50).show()
    +---+------+-----+----+
    |age|height| name|bool|
    +---+------+-----+----+
    | 10|  80.5|Alice|NULL|
    |  5|  50.0|  Bob|NULL|
    | 50|  50.0|  Tom|NULL|
    | 50|  50.0| NULL|true|
    +---+------+-----+----+

    Fill all null values with ``False`` for boolean columns.

    >>> df.na.fill(False).show()
    +----+------+-----+-----+
    | age|height| name| bool|
    +----+------+-----+-----+
    |  10|  80.5|Alice|false|
    |   5|  NULL|  Bob|false|
    |NULL|  NULL|  Tom|false|
    |NULL|  NULL| NULL| true|
    +----+------+-----+-----+

    Fill all null values with to 50 and "unknown" for 'age' and 'name' column respectively.

    >>> df.na.fill({'age': 50, 'name': 'unknown'}).show()
    +---+------+-------+----+
    |age|height|   name|bool|
    +---+------+-------+----+
    | 10|  80.5|  Alice|NULL|
    |  5|  NULL|    Bob|NULL|
    | 50|  NULL|    Tom|NULL|
    | 50|  NULL|unknown|true|
    +---+------+-------+----+

In [0]:
help(empdf.fillna)

Help on method fillna in module pyspark.sql.dataframe:

fillna(value: Union[ForwardRef('LiteralType'), Dict[str, ForwardRef('LiteralType')]], subset: Union[str, Tuple[str, ...], List[str], NoneType] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Replace null values, alias for ``na.fill()``.
    :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.

    .. versionadded:: 1.3.1

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    value : int, float, string, bool or dict
        Value to replace null values with.
        If the value is a dict, then `subset` is ignored and `value` must be a mapping
        from column name (string) to replacement value. The replacement value must be
        an int, float, boolean, or string.
    subset : str, tuple or list, optional
        optional list of column names to consider.
        Columns specified in subset that do not have matching data types are ignored.
        For example, if `value` is a string, and subset contains a non-string column,
        then the non-string column is simply ignored.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with replaced null values.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (10, 80.5, "Alice", None),
    ...     (5, None, "Bob", None),
    ...     (None, None, "Tom", None),
    ...     (None, None, None, True)],
    ...     schema=["age", "height", "name", "bool"])

    Fill all null values with 50 for numeric columns.

    >>> df.na.fill(50).show()
    +---+------+-----+----+
    |age|height| name|bool|
    +---+------+-----+----+
    | 10|  80.5|Alice|NULL|
    |  5|  50.0|  Bob|NULL|
    | 50|  50.0|  Tom|NULL|
    | 50|  50.0| NULL|true|
    +---+------+-----+----+

    Fill all null values with ``False`` for boolean columns.

    >>> df.na.fill(False).show()
    +----+------+-----+-----+
    | age|height| name| bool|
    +----+------+-----+-----+
    |  10|  80.5|Alice|false|
    |   5|  NULL|  Bob|false|
    |NULL|  NULL|  Tom|false|
    |NULL|  NULL| NULL| true|
    +----+------+-----+-----+

    Fill all null values with to 50 and "unknown" for 'age' and 'name' column respectively.

    >>> df.na.fill({'age': 50, 'name': 'unknown'}).show()
    +---+------+-------+----+
    |age|height|   name|bool|
    +---+------+-------+----+
    | 10|  80.5|  Alice|NULL|
    |  5|  NULL|    Bob|NULL|
    | 50|  NULL|    Tom|NULL|
    | 50|  NULL|unknown|true|
    +---+------+-------+----+

In [0]:
empdf.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|     NULL|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|     NULL|  NULL|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
empdf.fillna(0.0).show() # since 0.0 is float it fills with that value only in float columns

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|     NULL|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|     NULL|   0.0|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
empdf.fillna("na").show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|       na|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|   na|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|       na|  NULL|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
empdf.fillna(0.0).fillna("na").show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|       na|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|   na|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|       na|   0.0|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
empdf.fillna(0.0, 'salary').fillna("na", 'last_name').show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|       na|1000.0|   30| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| NULL|         india|+91 234 567 8901|456 78 9123|
|          3|      Nick|       na|   0.0|     |united kingdom| +44 111 111 111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|  150|     australia|+61 987 654 3210|789 12 6113|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+