In [0]:
%run "/Users/surajthallapalli@outlook.com/02 Selecting and Renaming Columns in Spark Dataframe/Creating Spark Dataframe 2023-07-11 20:32:19"

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|{+91 8645879087, ...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|{+91 9886879087, ...| [3, 4]|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|{+91 3245879087, ...|    [2]|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|                null|     []|       true|        NaN|         null|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|{+91 9085879087, ...|     []|      false|        NaN|         null|2019-04-03 08:14:08|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

Out[7]: [('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'struct<mobile:string,home:string>'),
 ('courses', 'array<bigint>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

In [0]:
help(users_df.selectExpr)

Help on method selectExpr in module pyspark.sql.dataframe:

selectExpr(*expr: Union[str, List[str]]) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of SQL expressions and returns a new :class:`DataFrame`.

    This is a variant of :func:`select` that accepts SQL expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with new/old columns transformed by expressions.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.selectExpr("age * 2", "abs(age)").show()
    +---------+--------+
    |(age * 2)|abs(age)|
    +---------+--------+
    |        4|       2|
    |       10|       5|
    +---------+--------+

In [0]:
users_df.selectExpr('*').show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|{+91 8645879087, ...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|{+91 9886879087, ...| [3, 4]|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|{+91 3245879087, ...|    [2]|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|                null|     []|       true|        NaN|         null|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|{+91 9085879087, ...|     []|      false|        NaN|         null|2019-04-03 08:14:08|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.alias('u').selectExpr('u.*').show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|{+91 8645879087, ...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|{+91 9886879087, ...| [3, 4]|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|{+91 3245879087, ...|    [2]|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|                null|     []|       true|        NaN|         null|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|{+91 9085879087, ...|     []|      false|        NaN|         null|2019-04-03 08:14:08|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.selectExpr('id','first_name','last_name').show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|      John|        Cena|
|  3|     James|        Bond|
|  4|    Robert|      Dowrey|
|  5|     Chris|  Hemmsworth|
+---+----------+------------+

In [0]:
from pyspark.sql.functions import col,concat,lit

In [0]:
users_df.select(
    col('id'),
    'first_name',
    'last_name',
    concat(col('first_name'),lit(','),col('last_name')).alias('full_name')
).show()

+---+----------+------------+-------------------+
| id|first_name|   last_name|          full_name|
+---+----------+------------+-------------------+
|  1|    Corrie|Van den Oord|Corrie,Van den Oord|
|  2|      John|        Cena|          John,Cena|
|  3|     James|        Bond|         James,Bond|
|  4|    Robert|      Dowrey|      Robert,Dowrey|
|  5|     Chris|  Hemmsworth|   Chris,Hemmsworth|
+---+----------+------------+-------------------+

In [0]:
users_df.selectExpr('id','first_name','last_name', "concat('first_name', ',' , last_name) AS full_name").show()

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|first_name,Van de...|
|  2|      John|        Cena|     first_name,Cena|
|  3|     James|        Bond|     first_name,Bond|
|  4|    Robert|      Dowrey|   first_name,Dowrey|
|  5|     Chris|  Hemmsworth|first_name,Hemmsw...|
+---+----------+------------+--------------------+

In [0]:
users_df.createOrReplaceTempView('users')

In [0]:
spark.sql("""
          SELECT id, first_name, last_name,
          concat(first_name, ',',last_name) AS full_name    
          FROM users      
 """).show()

+---+----------+------------+-------------------+
| id|first_name|   last_name|          full_name|
+---+----------+------------+-------------------+
|  1|    Corrie|Van den Oord|Corrie,Van den Oord|
|  2|      John|        Cena|          John,Cena|
|  3|     James|        Bond|         James,Bond|
|  4|    Robert|      Dowrey|      Robert,Dowrey|
|  5|     Chris|  Hemmsworth|   Chris,Hemmsworth|
+---+----------+------------+-------------------+