In [0]:
%run "/Users/surajthallapalli@outlook.com/02 Selecting and Renaming Columns in Spark Dataframe/Creating Spark Dataframe 2023-07-11 20:32:19"

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|{+91 8645879087, ...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|{+91 9886879087, ...| [3, 4]|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|{+91 3245879087, ...|    [2]|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|                null|     []|       true|        NaN|         null|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|{+91 9085879087, ...|     []|      false|        NaN|         null|2019-04-03 08:14:08|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

Out[7]: [('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'struct<mobile:string,home:string>'),
 ('courses', 'array<bigint>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

In [0]:
users_df.select('id','first_name','last_name').show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|      John|        Cena|
|  3|     James|        Bond|
|  4|    Robert|      Dowrey|
|  5|     Chris|  Hemmsworth|
+---+----------+------------+

In [0]:
cols = ['id','first_name','last_name']
users_df.select(*cols).show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|      John|        Cena|
|  3|     James|        Bond|
|  4|    Robert|      Dowrey|
|  5|     Chris|  Hemmsworth|
+---+----------+------------+

In [0]:
from pyspark.sql.functions import col

In [0]:
help(col)

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    col : str
        the name for the column

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the corresponding column instance.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

In [0]:
user_id = col('id')
users_df.select(user_id).show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [0]:
from pyspark.sql.functions import date_format

In [0]:
users_df.select(
    col('id'),
    date_format('customer_from','yyyyMMdd')
).show()

+---+------------------------------------+
| id|date_format(customer_from, yyyyMMdd)|
+---+------------------------------------+
|  1|                            20210115|
|  2|                            20220515|
|  3|                            20230112|
|  4|                                null|
|  5|                                null|
+---+------------------------------------+

In [0]:
users_df.select(
    col('id'),
    date_format('customer_from','yyyyMMdd').cast('int').alias('customer_from')
).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20220515|
|  3|     20230112|
|  4|         null|
|  5|         null|
+---+-------------+

In [0]:
cols = [col('id'),date_format('customer_from','yyyyMMdd').cast('int').alias('customer_from')]
users_df.select(*cols).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20220515|
|  3|     20230112|
|  4|         null|
|  5|         null|
+---+-------------+