In [0]:
%run "/Users/surajthallapalli@outlook.com/02 Selecting and Renaming Columns in Spark Dataframe/Creating Spark Dataframe 2023-07-11 20:32:19"

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|{+91 8645879087, ...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|{+91 9886879087, ...| [3, 4]|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|{+91 3245879087, ...|    [2]|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|                null|     []|       true|        NaN|         null|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|{+91 9085879087, ...|     []|      false|        NaN|         null|2019-04-03 08:14:08|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

Out[7]: [('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'struct<mobile:string,home:string>'),
 ('courses', 'array<bigint>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]


* Concatenate `first_name` and `last_name` to generate `full_name`

In [0]:
from pyspark.sql.functions import *

In [0]:
help(concat)

Help on function concat in module pyspark.sql.functions:

concat(*cols: 'ColumnOrName') -> pyspark.sql.column.Column
    Concatenates multiple input columns together into a single column.
    The function works with strings, numeric, binary and compatible array columns.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    cols : :class:`~pyspark.sql.Column` or str
        target column or columns to work on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        concatenated values. Type of the `Column` depends on input columns' type.

    See Also
    --------
    :meth:`pyspark.sql.functions.array_join` : to concatenate string columns with delimiter

    Examples
    --------
    >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
    >>> df = df.select(concat(df.s, df.d).alias('s'))
    >>> df.collect()
    [Row(s='abcd123')]
    >>> df
    DataFrame[s: string]

    >>> df = spark.createDataFrame([([1, 2], [3, 4], [5]), ([1, 2], None, [3])], ['a', 'b', 'c'])
    >>> df = df.select(concat(df.a, df.b, df.c).alias("arr"))
    >>> df.collect()
    [Row(arr=[1, 2, 3, 4, 5]), Row(arr=None)]
    >>> df
    DataFrame[arr: array<bigint>]

In [0]:
full_name_col = concat(col('first_name'), lit(','), col('last_name'))

In [0]:
full_name_col

Out[11]: Column<'concat(first_name, ,, last_name)'>

In [0]:
full_name_alias = full_name_col.alias('full_name')

In [0]:
full_name_alias

Out[13]: Column<'concat(first_name, ,, last_name) AS full_name'>

In [0]:
users_df.select('id', full_name_alias).show()

+---+-------------------+
| id|          full_name|
+---+-------------------+
|  1|Corrie,Van den Oord|
|  2|          John,Cena|
|  3|         James,Bond|
|  4|      Robert,Dowrey|
|  5|   Chris,Hemmsworth|
+---+-------------------+


* Convert data type of customer_from date to numeric type

In [0]:
from pyspark.sql.functions import date_format

In [0]:
date_format('customer_from','yyyymmdd').cast('int').alias('customer_from')

Out[17]: Column<'CAST(date_format(customer_from, yyyymmdd) AS INT) AS customer_from'>

In [0]:
customer_from_alias = date_format('customer_from','yyyymmdd').cast('int').alias('customer_from')

In [0]:
users_df.select('id',customer_from_alias).show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210015|
|  2|     20220015|
|  3|     20230012|
|  4|         null|
|  5|         null|
+---+-------------+