In [0]:
users_list = [(1, 'Scott'),(2, 'Bob'),(3, 'Max'),(4, 'Rin')]

In [0]:
type(users_list[1])

Out[2]: tuple

In [0]:
spark.createDataFrame(users_list)

Out[3]: DataFrame[_1: bigint, _2: string]

In [0]:
spark.createDataFrame(users_list,'id int, name string')

Out[4]: DataFrame[id: int, name: string]

In [0]:
from pyspark.sql import Row

In [0]:
user_rows = [Row(*user) for user in users_list]

In [0]:
user_rows

Out[7]: [<Row(1, 'Scott')>, <Row(2, 'Bob')>, <Row(3, 'Max')>, <Row(4, 'Rin')>]