In [0]:
import datetime

users = [(1,
          'Corrie',
          'Van den oord',
          'cvandenoord@etsy.com',
          True,
          550.55,
          datetime.date(2021,1,15),
          datetime.datetime(2021,2,10,1,15)),
         (2,
          'Nikolus',
          'Brewitt',
          'nbrewitti@dailymail.co.uk',
          True,
          900.0,
          datetime.date(2021,2,14),
          datetime.datetime(2021,2,18,3,33)),
         (3,
          'Orelie',
          'Penney',
          'openney2@vistaprint.com',
          True,
          850.55,
          datetime.date(2021,1,21),
          datetime.datetime(2021,3,15,15,16,55)),
         (4,
          'Ashby',
          'Maddocks',
          'amaddocks3@home.pl',
          False,
          None,
          None,
          datetime.datetime(2021,4,10,17,45,30)),
         (5,
          'kurt',
          'Roem',
          'krome4@shutterfly.com',
          False,
          None,
          None,
          datetime.datetime(2021,4,2,0,55,18))
             
         ]

In [0]:
from pyspark.sql.types import *

In [0]:
fields = StructType([
    StructField('id',IntegerType()),
    StructField('first_name',StringType()),
    StructField('last_name',StringType()),
    StructField('email',StringType()),
    StructField('is_customer',BooleanType()),
    StructField('amount_paid',FloatType()),
    StructField('customer_from',DateType()),
    StructField('last_updated_ts',TimestampType()),
])

In [0]:
spark.createDataFrame(users, schema = fields)

Out[6]: DataFrame[id: int, first_name: string, last_name: string, email: string, is_customer: boolean, amount_paid: float, customer_from: date, last_updated_ts: timestamp]

In [0]:
spark.createDataFrame(users, schema = fields).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den oord|cvandenoord@etsy.com|       true|     550.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolus|     Brewitt|nbrewitti@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|       null|         null|2021-04-10 17:45:30|
|  5|      kurt|        Roem|krome4@shutterfly...|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+