In [0]:
df = spark.read.json('/public/retail_db_json/orders')

In [0]:
df.dtypes

[('order_customer_id', 'bigint'),
 ('order_date', 'string'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

In [0]:
dc = spark.udf.register('date_convert', lambda d:d[:10].replace('-',''))

In [0]:
df.selectExpr('date_convert(order_date) AS order_date').show()

+----------+
|order_date|
+----------+
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
|  20130725|
+----------+
only showing top 20 rows

In [0]:
df.createOrReplaceTempView('orders')

In [0]:
spark.sql('''
    SELECT o.*, date_convert(order_date) AS order_date_as_int
    FROM orders AS o
 ''').show()

+-----------------+--------------------+--------+---------------+-----------------+
|order_customer_id|          order_date|order_id|   order_status|order_date_as_int|
+-----------------+--------------------+--------+---------------+-----------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|         20130725|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|         20130725|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|         20130725|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|         20130725|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|         20130725|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|         20130725|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|         20130725|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|         20130725|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|         20130725|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|         20130725|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|         20130725|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|         20130725|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|         20130725|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|         20130725|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|         20130725|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|         20130725|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|         20130725|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|         20130725|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|         20130725|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|         20130725|
+-----------------+--------------------+--------+---------------+-----------------+
only showing top 20 rows

In [0]:
spark.sql('''
    SELECT o.*, date_convert(order_date) AS order_date_as_int
    FROM orders AS o
    WHERE date_convert(order_date) = 20140101
 ''').show()

+-----------------+--------------------+--------+---------------+-----------------+
|order_customer_id|          order_date|order_id|   order_status|order_date_as_int|
+-----------------+--------------------+--------+---------------+-----------------+
|             3414|2014-01-01 00:00:...|   25876|PENDING_PAYMENT|         20140101|
|             5549|2014-01-01 00:00:...|   25877|PENDING_PAYMENT|         20140101|
|             9084|2014-01-01 00:00:...|   25878|        PENDING|         20140101|
|             5118|2014-01-01 00:00:...|   25879|        PENDING|         20140101|
|            10146|2014-01-01 00:00:...|   25880|       CANCELED|         20140101|
|             3205|2014-01-01 00:00:...|   25881|PENDING_PAYMENT|         20140101|
|             4598|2014-01-01 00:00:...|   25882|       COMPLETE|         20140101|
|            11764|2014-01-01 00:00:...|   25883|        PENDING|         20140101|
|             7904|2014-01-01 00:00:...|   25884|PENDING_PAYMENT|         20140101|
|             7253|2014-01-01 00:00:...|   25885|        PENDING|         20140101|
|             8195|2014-01-01 00:00:...|   25886|     PROCESSING|         20140101|
|            10062|2014-01-01 00:00:...|   25887|        PENDING|         20140101|
|             6735|2014-01-01 00:00:...|   25888|       COMPLETE|         20140101|
|            10045|2014-01-01 00:00:...|   25889|       COMPLETE|         20140101|
|             2581|2014-01-01 00:00:...|   25890|        PENDING|         20140101|
|             3037|2014-01-01 00:00:...|   25891|         CLOSED|         20140101|
|             3853|2014-01-01 00:00:...|   25892|        ON_HOLD|         20140101|
|             8679|2014-01-01 00:00:...|   25893|PENDING_PAYMENT|         20140101|
|             7839|2014-01-01 00:00:...|   25894|     PROCESSING|         20140101|
|             1044|2014-01-01 00:00:...|   25895|       COMPLETE|         20140101|
+-----------------+--------------------+--------+---------------+-----------------+
only showing top 20 rows

In [0]:
spark.sql('''
    SELECT date_convert(order_date) AS order_date, count(*) AS order_count
    FROM orders
    GROUP BY 1
 ''').show()

+----------+-----------+
|order_date|order_count|
+----------+-----------+
|  20130919|        206|
|  20140303|        266|
|  20140202|        192|
|  20140310|        235|
|  20130809|        125|
|  20130817|        253|
|  20131015|        174|
|  20140114|        209|
|  20131029|        128|
|  20140130|        254|
|  20130824|        265|
|  20130913|        103|
|  20130914|        276|
|  20130825|        200|
|  20131031|        208|
|  20140304|        257|
|  20130731|        252|
|  20130730|        227|
|  20131116|        120|
|  20131213|        135|
+----------+-----------+
only showing top 20 rows