In [0]:
%run "/Users/surajthallapalli@outlook.com/05 Dropping Columns from Spark Data Frames/02 - Creating Spark Data Frame for Dropping Columns"

+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+
|amount_paid|courses|customer_from|email               |first_name|id |is_customer|last_name   |last_updated_ts    |phone_numbers                   |
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+
|1000.55    |[1, 2] |2021-01-15   |cvandenoor@etsy.com |Corrie    |1  |true       |Van den Oord|2021-02-10 01:15:00|{+91 8645879087, +91 9878673289}|
|900.0      |[3]    |2022-05-15   |john@cena.com       |John      |2  |true       |Cena        |2024-03-15 01:16:00|{+91 9886879087, +91 9134673289}|
|750.6      |[2, 3] |2023-01-12   |james@bond.com      |James     |3  |false      |Bond        |2018-05-05 05:17:02|{+91 3245879087, +91 9854673289}|
|NULL       |[]     |NULL         |robert@dowrey.com   |Robert    |4  |false      |Dowrey      |2019-04-03 08:14:08|NULL                            |
|NULL       |[]     |NULL         |chris@hemmsworth.com|Chris     |5  |false      |Hemmsworth  |2019-04-03 08:14:08|{+91 9085879087, }              |
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+

In [0]:
userdf.drop('first_name','last_name').printSchema()

root
 |-- amount_paid: double (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- customer_from: date (nullable = true)
 |-- email: string (nullable = true)
 |-- id: long (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)

In [0]:
userdf.drop('first_name','last_name').show()

+-----------+-------+-------------+--------------------+---+-----------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email| id|is_customer|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+---+-----------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15| cvandenoor@etsy.com|  1|       true|2021-02-10 01:15:00|{+91 8645879087, ...|
|      900.0|    [3]|   2022-05-15|       john@cena.com|  2|       true|2024-03-15 01:16:00|{+91 9886879087, ...|
|      750.6| [2, 3]|   2023-01-12|      james@bond.com|  3|      false|2018-05-05 05:17:02|{+91 3245879087, ...|
|       NULL|     []|         NULL|   robert@dowrey.com|  4|      false|2019-04-03 08:14:08|                NULL|
|       NULL|     []|         NULL|chris@hemmsworth.com|  5|      false|2019-04-03 08:14:08|  {+91 9085879087, }|
+-----------+-------+-------------+--------------------+---+-----------+-------------------+--------------------+

In [0]:
from pyspark.sql.functions import *

In [0]:
userdf.drop(col('first_name')).show()

+-----------+-------+-------------+--------------------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15| cvandenoor@etsy.com|  1|       true|Van den Oord|2021-02-10 01:15:00|{+91 8645879087, ...|
|      900.0|    [3]|   2022-05-15|       john@cena.com|  2|       true|        Cena|2024-03-15 01:16:00|{+91 9886879087, ...|
|      750.6| [2, 3]|   2023-01-12|      james@bond.com|  3|      false|        Bond|2018-05-05 05:17:02|{+91 3245879087, ...|
|       NULL|     []|         NULL|   robert@dowrey.com|  4|      false|      Dowrey|2019-04-03 08:14:08|                NULL|
|       NULL|     []|         NULL|chris@hemmsworth.com|  5|      false|  Hemmsworth|2019-04-03 08:14:08|  {+91 9085879087, }|
+-----------+-------+-------------+--------------------+---+-----------+------------+-------------------+--------------------+

In [0]:
userdf.drop(col('first_name'), col('id')).show() ## ???????

+-----------+-------+-------------+--------------------+-----------+------------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15| cvandenoor@etsy.com|       true|Van den Oord|2021-02-10 01:15:00|{+91 8645879087, ...|
|      900.0|    [3]|   2022-05-15|       john@cena.com|       true|        Cena|2024-03-15 01:16:00|{+91 9886879087, ...|
|      750.6| [2, 3]|   2023-01-12|      james@bond.com|      false|        Bond|2018-05-05 05:17:02|{+91 3245879087, ...|
|       NULL|     []|         NULL|   robert@dowrey.com|      false|      Dowrey|2019-04-03 08:14:08|                NULL|
|       NULL|     []|         NULL|chris@hemmsworth.com|      false|  Hemmsworth|2019-04-03 08:14:08|  {+91 9085879087, }|
+-----------+-------+-------------+--------------------+-----------+------------+-------------------+--------------------+

In [0]:
help(userdf.drop)

Help on method drop in module pyspark.sql.dataframe:

drop(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` without specified columns.
    This is a no-op if the schema doesn't contain the given column name(s).

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols: str or :class:`Column`
        a name of the column, or the :class:`Column` to drop

    Returns
    -------
    :class:`DataFrame`
        DataFrame without given columns.

    Notes
    -----
    When an input is a column name, it is treated literally without further interpretation.
    Otherwise, will try to match the equivalent expression.
    So that dropping column by its name `drop(colName)` has different semantic with directly
    dropping the column `drop(col(colName))`.

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import col, lit
    >>> df = spark.createDataFrame(
    ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])

    >>> df.drop('age').show()
    +-----+
    | name|
    +-----+
    |  Tom|
    |Alice|
    |  Bob|
    +-----+
    >>> df.drop(df.age).show()
    +-----+
    | name|
    +-----+
    |  Tom|
    |Alice|
    |  Bob|
    +-----+

    Drop the column that joined both DataFrames on.

    >>> df.join(df2, df.name == df2.name, 'inner').drop('name').sort('age').show()
    +---+------+
    |age|height|
    +---+------+
    | 14|    80|
    | 16|    85|
    +---+------+

    >>> df3 = df.join(df2)
    >>> df3.show()
    +---+-----+------+----+
    |age| name|height|name|
    +---+-----+------+----+
    | 14|  Tom|    80| Tom|
    | 14|  Tom|    85| Bob|
    | 23|Alice|    80| Tom|
    | 23|Alice|    85| Bob|
    | 16|  Bob|    80| Tom|
    | 16|  Bob|    85| Bob|
    +---+-----+------+----+

    Drop two column by the same name.

    >>> df3.drop("name").show()
    +---+------+
    |age|height|
    +---+------+
    | 14|    80|
    | 14|    85|
    | 23|    80|
    | 23|    85|
    | 16|    80|
    | 16|    85|
    +---+------+

    Can not drop col('name') due to ambiguous reference.

    >>> df3.drop(col("name")).show()
    Traceback (most recent call last):
    ...
    pyspark.errors.exceptions.captured.AnalysisException: [AMBIGUOUS_REFERENCE] Reference...

    >>> df4 = df.withColumn("a.b.c", lit(1))
    >>> df4.show()
    +---+-----+-----+
    |age| name|a.b.c|
    +---+-----+-----+
    | 14|  Tom|    1|
    | 23|Alice|    1|
    | 16|  Bob|    1|
    +---+-----+-----+

    >>> df4.drop("a.b.c").show()
    +---+-----+
    |age| name|
    +---+-----+
    | 14|  Tom|
    | 23|Alice|
    | 16|  Bob|
    +---+-----+

    Can not find a column matching the expression "a.b.c".

    >>> df4.drop(col("a.b.c")).show()
    +---+-----+-----+
    |age| name|a.b.c|
    +---+-----+-----+
    | 14|  Tom|    1|
    | 23|Alice|    1|
    | 16|  Bob|    1|
    +---+-----+-----+