In [0]:
%run "/Users/surajthallapalli@outlook.com/05 Dropping Columns from Spark Data Frames/02 - Creating Spark Data Frame for Dropping Columns"

+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+
|amount_paid|courses|customer_from|email               |first_name|id |is_customer|last_name   |last_updated_ts    |phone_numbers                   |
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+
|1000.55    |[1, 2] |2021-01-15   |cvandenoor@etsy.com |Corrie    |1  |true       |Van den Oord|2021-02-10 01:15:00|{+91 8645879087, +91 9878673289}|
|900.0      |[3]    |2022-05-15   |john@cena.com       |John      |2  |true       |Cena        |2024-03-15 01:16:00|{+91 9886879087, +91 9134673289}|
|750.6      |[2, 3] |2023-01-12   |james@bond.com      |James     |3  |false      |Bond        |2018-05-05 05:17:02|{+91 3245879087, +91 9854673289}|
|NULL       |[]     |NULL         |robert@dowrey.com   |Robert    |4  |false      |Dowrey      |2019-04-03 08:14:08|NULL                            |
|NULL       |[]     |NULL         |chris@hemmsworth.com|Chris     |5  |false      |Hemmsworth  |2019-04-03 08:14:08|{+91 9085879087, }              |
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------------------+

In [0]:
from pyspark.sql.functions import *

In [0]:
pii = ['first_name','last_name','email','phone_numbers']

In [0]:
# This will fail. We need to convert list to varying arguments to get it working
userdf_nopii = userdf.drop(pii)

---------------------------------------------------------------------------
PySparkTypeError                          Traceback (most recent call last)
File <command-3653095131636520>, line 1
----> 1 userdf_nopii = userdf.drop(pii)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:5295, in DataFrame.drop(self, *cols)
   5293         java_columns.append(c._jc)
   5294     else:
-> 5295         raise PySparkTypeError(
   5296             error_class="NOT_COLUMN_OR_STR",
   5297             message_parameters={"arg_name": "col", "arg_type": type(c).__name__},
   5298         )
   5300 jdf = self._jdf
   5301 if len(java_columns) > 0:

PySparkTypeError: [NOT_COLUMN_OR_STR] Argument `col` should be a Column or str, got list.

In [0]:
userdf_nopii = userdf.drop(*pii)

In [0]:
userdf_nopii.show()

+-----------+-------+-------------+---+-----------+-------------------+
|amount_paid|courses|customer_from| id|is_customer|    last_updated_ts|
+-----------+-------+-------------+---+-----------+-------------------+
|    1000.55| [1, 2]|   2021-01-15|  1|       true|2021-02-10 01:15:00|
|      900.0|    [3]|   2022-05-15|  2|       true|2024-03-15 01:16:00|
|      750.6| [2, 3]|   2023-01-12|  3|      false|2018-05-05 05:17:02|
|       NULL|     []|         NULL|  4|      false|2019-04-03 08:14:08|
|       NULL|     []|         NULL|  5|      false|2019-04-03 08:14:08|
+-----------+-------+-------------+---+-----------+-------------------+

In [0]:
type(pii)

list

In [0]:
#If any col which doesnt exist in dataframe it will be ignored on drop
pii = ['first_name','last_name','email','phone_numbers','abc']

In [0]:
userdf.drop(*pii).show()

+-----------+-------+-------------+---+-----------+-------------------+
|amount_paid|courses|customer_from| id|is_customer|    last_updated_ts|
+-----------+-------+-------------+---+-----------+-------------------+
|    1000.55| [1, 2]|   2021-01-15|  1|       true|2021-02-10 01:15:00|
|      900.0|    [3]|   2022-05-15|  2|       true|2024-03-15 01:16:00|
|      750.6| [2, 3]|   2023-01-12|  3|      false|2018-05-05 05:17:02|
|       NULL|     []|         NULL|  4|      false|2019-04-03 08:14:08|
|       NULL|     []|         NULL|  5|      false|2019-04-03 08:14:08|
+-----------+-------+-------------+---+-----------+-------------------+