In [0]:
from pyspark.sql import Row
from pyspark.sql.functions import *

In [0]:
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)

In [0]:
import datetime

users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",        
        "email": "cvandenoor@etsy.com",
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021,1,15),
        "last_updated_ts": datetime.datetime(2021,2,10,1,15,0)
    },
    {
        "id": 2,
        "first_name": "John",
        "last_name": "Cena",        
        "email": "john@cena.com",        
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2022,5,15),
        "last_updated_ts": datetime.datetime(2024,3,15,1,16,0)
    },
    {
        "id": 3,
        "first_name": "James",
        "last_name": "Bond",        
        "email": "james@bond.com",        
        "is_customer": False,
        "amount_paid": 750.60,
        "customer_from": datetime.date(2023,1,12),
        "last_updated_ts": datetime.datetime(2018,5,5,5,17,2)
    },
    {
        "id": 3,
        "first_name": "James",
        "last_name": "Bond",        
        "email": "james@bond.com",        
        "is_customer": False,
        "amount_paid": 750.60,
        "customer_from": datetime.date(2023,1,12),
        "last_updated_ts": datetime.datetime(2018,5,5,5,17,2)
    },
    {
        "id": 4,
        "first_name": "Robert",
        "last_name": "Dowrey",        
        "email": "robert@dowrey.com",        
        "is_customer": True,
        "amount_paid": 500.50,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2019,4,3,8,14,8)
    },
    {
        "id": 4,
        "first_name": "Robert",
        "last_name": "Dowrey",        
        "email": "robert@dowrey.com",        
        "is_customer": True,
        "amount_paid": 500.50,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2019,4,3,8,14,8)
    },
    {
        "id": 5,
        "first_name": "Chris",
        "last_name": "Hemmsworth",        
        "email": "chris@hemmsworth.com",        
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2019,4,3,8,14,8)
    },
    {
        "id": 5,
        "first_name": "Chris",
        "last_name": "Hemmsworth",        
        "email": "chris@hemmsworth.com",        
        "is_customer": False,
        "amount_paid": 500.0,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2018,3,4,6,12,6)
    },
]

In [0]:
userdf = spark.createDataFrame(pd.DataFrame(users))

In [0]:
userdf.show(truncate=False)

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email               |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |Van den Oord|cvandenoor@etsy.com |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |John      |Cena        |john@cena.com       |true       |900.0      |2022-05-15   |2024-03-15 01:16:00|
|3  |James     |Bond        |james@bond.com      |false      |750.6      |2023-01-12   |2018-05-05 05:17:02|
|3  |James     |Bond        |james@bond.com      |false      |750.6      |2023-01-12   |2018-05-05 05:17:02|
|4  |Robert    |Dowrey      |robert@dowrey.com   |true       |500.5      |NULL         |2019-04-03 08:14:08|
|4  |Robert    |Dowrey      |robert@dowrey.com   |true       |500.5      |NULL         |2019-04-03 08:14:08|
|5  |Chris     |Hemmsworth  |chris@hemmsworth.com|false      |NaN        |NULL         |2019-04-03 08:14:08|
|5  |Chris     |Hemmsworth  |chris@hemmsworth.com|false      |500.0      |NULL         |2018-03-04 06:12:06|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.count()

8

In [0]:
help(userdf.distinct)

Help on method distinct in module pyspark.sql.dataframe:

distinct() -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with distinct records.

    Examples
    --------
    >>> df = spark.createDataFrame(
    ...     [(14, "Tom"), (23, "Alice"), (23, "Alice")], ["age", "name"])

    Return the number of distinct rows in the :class:`DataFrame`

    >>> df.distinct().count()
    2

In [0]:
userdf.distinct().count()

6

In [0]:
help(userdf.drop_duplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset=None) method of pyspark.sql.dataframe.DataFrame instance
    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4

In [0]:
help(userdf.dropDuplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset: Optional[List[str]] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` with duplicate rows removed,
    optionally only considering certain columns.

    For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
    :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
    duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
    be and the system will accordingly limit the state. In addition, data older than
    watermark will be dropped to avoid any possibility of duplicates.

    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    subset : List of column names, optional
        List of columns to use for duplicate comparison (default All columns).

    Returns
    -------
    :class:`DataFrame`
        DataFrame without duplicates.

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = spark.createDataFrame([
    ...     Row(name='Alice', age=5, height=80),
    ...     Row(name='Alice', age=5, height=80),
    ...     Row(name='Alice', age=10, height=80)
    ... ])

    Deduplicate the same rows.

    >>> df.dropDuplicates().show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    |Alice| 10|    80|
    +-----+---+------+

    Deduplicate values on 'name' and 'height' columns.

    >>> df.dropDuplicates(['name', 'height']).show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    +-----+---+------+

- We can also drop duplicates based on certain columns
- The below operation will fail as the function expects sequence type object such as list or array

In [0]:
userdf.dropDuplicates('id').show()

---------------------------------------------------------------------------
PySparkTypeError                          Traceback (most recent call last)
File <command-3653095131636539>, line 1
----> 1 userdf.dropDuplicates('id').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4074, in DataFrame.dropDuplicates(self, subset)
   4019 """Return a new :class:`DataFrame` with duplicate rows removed,
   4020 optionally only considering certain columns.
   4021
   (...)
   4071 +-----+---+------+
   4072 """
   4073 if subset is not None and (not isinstance(subset, Iterable) or isinstance(subset, str)):
-> 4074     raise PySparkTypeError(
   4075         error_class="NOT_LIST_OR_TUPLE",
   4076         message_parameters={"arg_name": "subset", "arg_type": type(subset).__name__},
   4077     )
   4079 if subset is None:
   4080     jdf = self._jdf.dropDuplicates()

PySparkTypeError: [NOT_LIST_OR_TUPLE] Argument `subset` should be a list or tuple, got str.

In [0]:
userdf.show(truncate=False)

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email               |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |Van den Oord|cvandenoor@etsy.com |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |John      |Cena        |john@cena.com       |true       |900.0      |2022-05-15   |2024-03-15 01:16:00|
|3  |James     |Bond        |james@bond.com      |false      |750.6      |2023-01-12   |2018-05-05 05:17:02|
|3  |James     |Bond        |james@bond.com      |false      |750.6      |2023-01-12   |2018-05-05 05:17:02|
|4  |Robert    |Dowrey      |robert@dowrey.com   |true       |500.5      |NULL         |2019-04-03 08:14:08|
|4  |Robert    |Dowrey      |robert@dowrey.com   |true       |500.5      |NULL         |2019-04-03 08:14:08|
|5  |Chris     |Hemmsworth  |chris@hemmsworth.com|false      |NaN        |NULL         |2019-04-03 08:14:08|
|5  |Chris     |Hemmsworth  |chris@hemmsworth.com|false      |500.0      |NULL         |2018-03-04 06:12:06|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.dropDuplicates(['id']).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|       true|      500.5|         NULL|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|        NaN|         NULL|2019-04-03 08:14:08|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.dropDuplicates(['id','amount_paid']).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|        Cena|       john@cena.com|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|  3|     James|        Bond|      james@bond.com|      false|      750.6|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|       true|      500.5|         NULL|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|      500.0|         NULL|2018-03-04 06:12:06|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|        NaN|         NULL|2019-04-03 08:14:08|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+