In [0]:
from pyspark.sql import Row
from pyspark.sql.functions import *

In [0]:
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)

In [0]:
import datetime

users = [
    {
        "id": "1",
        "first_name": "Corrie",
        "last_name": "Van den Oord",        
        "email": "cvandenoor@etsy.com",
        "is_customer": True,
        "amount_paid": "1000.55",
        "customer_from": datetime.date(2021,1,15),
        "last_updated_ts": datetime.datetime(2021,2,10,1,15,0)
    },
    {
        "id": None,
        "first_name": "John",
        "last_name": "Cena",        
        "email": "john@cena.com",        
        "is_customer": True,
        "amount_paid": "900.0",
        "customer_from": datetime.date(2022,5,15),
        "last_updated_ts": datetime.datetime(2024,3,15,1,16,0)
    },
    {
        "id": "3",
        "first_name": "James",
        "last_name": "Bond",        
        "email": "james@bond.com",        
        "is_customer": False,
        "amount_paid": "750.60",
        "customer_from": datetime.date(2023,1,12),
        "last_updated_ts": datetime.datetime(2018,5,5,5,17,2)
    },
    {
        "id": "3",
        "first_name": "James",
        "last_name": "Bond",        
        "email": "james@bond.com",        
        "is_customer": False,
        "amount_paid": "750.60",
        "customer_from": datetime.date(2023,1,12),
        "last_updated_ts": datetime.datetime(2018,5,5,5,17,2)
    },
    {
        "id": "4",
        "first_name": "Robert",
        "last_name": "Dowrey",        
        "email": "robert@dowrey.com",        
        "is_customer": True,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2019,4,3,8,14,8)
    },    
    {
        "id": "5",
        "first_name": "Chris",
        "last_name": "Hemmsworth",        
        "email": "chris@hemmsworth.com",        
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2019,4,3,8,14,8)
    },
    {
        "id": None,
        "first_name": None,
        "last_name": None,        
        "email": None,        
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": None,
        "first_name": None,
        "last_name": None,        
        "email": None,        
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
    {
        "id": "6",
        "first_name": "ashby",
        "last_name": "maddock",        
        "email": "ashby@maddock.com",        
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2023,1,1,3,12,7)
    },
    {
        "id": "7",
        "first_name": None,
        "last_name": "maddock",        
        "email": None,        
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2022,4,9,1,11,9)
    },
    {
        "id": "8",
        "first_name": None,
        "last_name": None,        
        "email": None,        
        "is_customer": None,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": None
    },
]

In [0]:
userdf = spark.createDataFrame(pd.DataFrame(users))

In [0]:
userdf.show(truncate=False)

+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|id  |first_name|last_name   |email               |is_customer|amount_paid|customer_from|last_updated_ts    |
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|1   |Corrie    |Van den Oord|cvandenoor@etsy.com |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|NULL|John      |Cena        |john@cena.com       |true       |900.0      |2022-05-15   |2024-03-15 01:16:00|
|3   |James     |Bond        |james@bond.com      |false      |750.60     |2023-01-12   |2018-05-05 05:17:02|
|3   |James     |Bond        |james@bond.com      |false      |750.60     |2023-01-12   |2018-05-05 05:17:02|
|4   |Robert    |Dowrey      |robert@dowrey.com   |true       |NULL       |NULL         |2019-04-03 08:14:08|
|5   |Chris     |Hemmsworth  |chris@hemmsworth.com|false      |NULL       |NULL         |2019-04-03 08:14:08|
|NULL|NULL      |NULL        |NULL                |NULL       |NULL       |NULL         |NULL               |
|NULL|NULL      |NULL        |NULL                |NULL       |NULL       |NULL         |NULL               |
|6   |ashby     |maddock     |ashby@maddock.com   |false      |NULL       |NULL         |2023-01-01 03:12:07|
|7   |NULL      |maddock     |NULL                |false      |NULL       |NULL         |2022-04-09 01:11:09|
|8   |NULL      |NULL        |NULL                |NULL       |NULL       |NULL         |NULL               |
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.count()

10

In [0]:
help(userdf.dropna)

Help on method dropna in module pyspark.sql.dataframe:

dropna(how: str = 'any', thresh: Optional[int] = None, subset: Union[str, Tuple[str, ...], List[str], NoneType] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` omitting rows with null values.
    :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.

    .. versionadded:: 1.3.1

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    how : str, optional
        'any' or 'all'.
        If 'any', drop a row if it contains any nulls.
        If 'all', drop a row only if all its values are null.
    thresh: int, optional
        default None
        If specified, drop rows that have less than `thresh` non-null values.
        This overwrites the `how` parameter.
    subset : str, tuple or list, optional
        optional list of column names to consider.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with null only rows excluded.

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])
    >>> df.na.drop().show()
    +---+------+-----+
    |age|height| name|
    +---+------+-----+
    | 10|    80|Alice|
    +---+------+-----+

In [0]:
#drops rows which have all columns as null
userdf.dropna('all').show()

+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|   1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|NULL|      John|        Cena|       john@cena.com|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   4|    Robert|      Dowrey|   robert@dowrey.com|       true|       NULL|         NULL|2019-04-03 08:14:08|
|   5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|       NULL|         NULL|2019-04-03 08:14:08|
|   6|     ashby|     maddock|   ashby@maddock.com|      false|       NULL|         NULL|2023-01-01 03:12:07|
|   7|      NULL|     maddock|                NULL|      false|       NULL|         NULL|2022-04-09 01:11:09|
|   8|      NULL|        NULL|                NULL|       NULL|       NULL|         NULL|               NULL|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
# drop if any column value is null
userdf.dropna('any').show()

+---+----------+------------+-------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|              email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+-------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  3|     James|        Bond|     james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|  3|     James|        Bond|     james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
+---+----------+------------+-------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.dropna(thresh=4).show() # <= thresh

+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|   1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|NULL|      John|        Cena|       john@cena.com|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   4|    Robert|      Dowrey|   robert@dowrey.com|       true|       NULL|         NULL|2019-04-03 08:14:08|
|   5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|       NULL|         NULL|2019-04-03 08:14:08|
|   6|     ashby|     maddock|   ashby@maddock.com|      false|       NULL|         NULL|2023-01-01 03:12:07|
|   7|      NULL|     maddock|                NULL|      false|       NULL|         NULL|2022-04-09 01:11:09|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.dropna(how = 'all', subset = ['id', 'email']).show() # if only the subset columns have null values the rows will be dropped (AND)

+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|   1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|NULL|      John|        Cena|       john@cena.com|       true|      900.0|   2022-05-15|2024-03-15 01:16:00|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|   4|    Robert|      Dowrey|   robert@dowrey.com|       true|       NULL|         NULL|2019-04-03 08:14:08|
|   5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|       NULL|         NULL|2019-04-03 08:14:08|
|   6|     ashby|     maddock|   ashby@maddock.com|      false|       NULL|         NULL|2023-01-01 03:12:07|
|   7|      NULL|     maddock|                NULL|      false|       NULL|         NULL|2022-04-09 01:11:09|
|   8|      NULL|        NULL|                NULL|       NULL|       NULL|         NULL|               NULL|
+----+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [0]:
userdf.dropna(how = 'any', subset = ['id', 'email']).show() # drops record if any of the two subset columns have null (OR)

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord| cvandenoor@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|  3|     James|        Bond|      james@bond.com|      false|     750.60|   2023-01-12|2018-05-05 05:17:02|
|  4|    Robert|      Dowrey|   robert@dowrey.com|       true|       NULL|         NULL|2019-04-03 08:14:08|
|  5|     Chris|  Hemmsworth|chris@hemmsworth.com|      false|       NULL|         NULL|2019-04-03 08:14:08|
|  6|     ashby|     maddock|   ashby@maddock.com|      false|       NULL|         NULL|2023-01-01 03:12:07|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+