In [0]:
from pyspark.sql import Row

In [0]:
import datetime

courses = [
    {
        'course_id': 1,
        'course_title': 'Mastering python',
        'course_published_at': datetime.date(2021,1,4),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021,2,18,16,57,25)
    },
    {
        'course_id': 2,
        'course_title': 'Data Engineering Essentials',
        'course_published_at': datetime.date(2021,2,10),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021,3,5,12,7,33)
    },
    {
        'course_id': 3,
        'course_title': 'Mastering pyspark',
        'course_published_at': datetime.date(2021,1,7),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021,4,6,10,5,42)
    },
    {
        'course_id': 4,
        'course_title': 'AWS Essentials',
        'course_published_at': datetime.date(2021,3,19),
        'is_active': False,
        'last_updated_ts': datetime.datetime(2021,4,10,2,25,36)
    },
    {
        'course_id': 5,
        'course_title': 'Docker 101',
        'course_published_at': datetime.date(2021,2,28),
        'is_active': True,
        'last_updated_ts': datetime.datetime(2021,3,21,7,18,52)
    }
]

courses_df = spark.createDataFrame([Row(**course) for course in courses])

In [0]:
courses_df.show()

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_at|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering python|         2021-01-04|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

In [0]:
users = [
    {
        "user_id": 1,
        "user_first_name": "Sandra",
        "user_last_name": "Karpov",
        "user_email": "skarpov@ovh.net"
    },
    {
        "user_id": 2,
        "user_first_name": "Kari",
        "user_last_name": "Dearth",
        "user_email": "kdearth1@so-net.ne.jp"
    },
    {
        "user_id": 3,
        "user_first_name": "Joanna",
        "user_last_name": "Spennock",
        "user_email": "jspennock2@redcross.org"
    },
    {
        "user_id": 4,
        "user_first_name": "Hirsch",
        "user_last_name": "Conaboy",
        "user_email": "hconaboy3@barnesandnoble.com"
    },
    {
        "user_id": 5,
        "user_first_name": "Loreen",
        "user_last_name": "Malin",
        "user_email": "lmalin4@independent.co.uk"
    },
    {
        "user_id": 6,
        "user_first_name": "Augy",
        "user_last_name": "Christon",
        "user_email": "achriston5@mlb"
    },
    {
        "user_id": 7,
        "user_first_name": "Trudey",
        "user_last_name": "Choupin",
        "user_email": "tchoupin6@de.vu"
    },
    {
        "user_id": 8,
        "user_first_name": "Nadine",
        "user_last_name": "Grimsdell",
        "user_email": "ngrimsdell7@ohu.com"
    },
    {
        "user_id": 9,
        "user_first_name": "Vassily",
        "user_last_name": "Tamas",
        "user_email": "vtamas@businessweek.com"
    },
    {
        "user_id": 10,
        "user_first_name": "Wells",
        "user_last_name": "Simpkins",
        "user_email": "wsimpkins9@amazon.co.uk"
    }
]

users_df = spark.createDataFrame([Row(**user) for user in users])

In [0]:
users_df.show()

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|      achriston5@mlb|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|
|      9|        Vassily|         Tamas|vtamas@businesswe...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

In [0]:
course_enrolments = [
    {
        'course_enrolmane_id': 1,
        'user_id': 10,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id': 2,
        'user_id': 5,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id': 3,
        'user_id': 7,
        'course_id': 5,
        'price_paid': 9.99        
    },
    {
        'course_enrolmane_id': 4,
        'user_id': 9,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id': 5,
        'user_id': 8,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id':6,
        'user_id': 5,
        'course_id': 5,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 7,
        'user_id': 4,
        'course_id': 5,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 8,
        'user_id': 7,
        'course_id': 3,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 9,
        'user_id': 8,
        'course_id': 5,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 10,
        'user_id': 3,
        'course_id': 3,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 11,
        'user_id': 7,
        'course_id': 5,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 12,
        'user_id': 3,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id': 13,
        'user_id': 5,
        'course_id': 2,
        'price_paid': 9.99
    },
    {
        'course_enrolmane_id': 14,
        'user_id': 4,
        'course_id': 3,
        'price_paid': 10.99
    },
    {
        'course_enrolmane_id': 15,
        'user_id': 8,
        'course_id': 2,
        'price_paid': 9.99
    }
]

course_enrolments_df = spark.createDataFrame([Row(**ce) for ce in course_enrolments])

In [0]:
course_enrolments_df.show()

+-------------------+-------+---------+----------+
|course_enrolmane_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|      9.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+