In [0]:
%run "/Users/surajthallapalli@outlook.com/08 Joining Spark Data Frames/02 - Setup Datasets to perform joins"

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_at|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering python|         2021-01-04|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|      achriston5@mlb|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|
|      9|        Vassily|         Tamas|vtamas@businesswe...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

+-------------------+-------+---------+----------+
|course_enrolmane_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|      9.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+

In [0]:
help(courses_df.alias)

Help on method alias in module pyspark.sql.dataframe:

alias(alias: str) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` with an alias set.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    alias : str
        an alias name to be set for the :class:`DataFrame`.

    Returns
    -------
    :class:`DataFrame`
        Aliased DataFrame.

    Examples
    --------
    >>> from pyspark.sql.functions import col, desc
    >>> df = spark.createDataFrame(
    ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
    >>> df_as1 = df.alias("df_as1")
    >>> df_as2 = df.alias("df_as2")
    >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
    >>> joined_df.select(
    ...     "df_as1.name", "df_as2.name", "df_as2.age").sort(desc("df_as1.name")).show()
    +-----+-----+---+
    | name| name|age|
    +-----+-----+---+
    |  Tom|  Tom| 14|
    |  Bob|  Bob| 16|
    |Alice|Alice| 23|
    +-----+-----+---+

In [0]:
type(courses_df.alias('c'))

pyspark.sql.dataframe.DataFrame

In [0]:
courses_df.alias('c').select('c.course_id').show()

+---------+
|course_id|
+---------+
|        1|
|        2|
|        3|
|        4|
|        5|
+---------+