In [0]:
%run "/Users/surajthallapalli@outlook.com/08 Joining Spark Data Frames/02 - Setup Datasets to perform joins"

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_at|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering python|         2021-01-04|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|      achriston5@mlb|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|
|      9|        Vassily|         Tamas|vtamas@businesswe...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

+-------------------+-------+---------+----------+
|course_enrolmane_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|      9.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+

In [0]:
help(courses_df.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Returns
    -------
    :class:`DataFrame`
        Joined DataFrame.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import desc
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
    >>> df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
    >>> df4 = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])

    Inner join on columns (default)

    >>> df.join(df2, 'name').select(df.name, df2.height).show()
    +----+------+
    |name|height|
    +----+------+
    | Bob|    85|
    +----+------+
    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).show()
    +----+---+
    |name|age|
    +----+---+
    | Bob|  5|
    +----+---+

    Outer join for both DataFrames on the 'name' column.

    >>> df.join(df2, df.name == df2.name, 'outer').select(
    ...     df.name, df2.height).sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Bob|    85|
    |Alice|  NULL|
    | NULL|    80|
    +-----+------+
    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Tom|    80|
    |  Bob|    85|
    |Alice|  NULL|
    +-----+------+

    Outer join for both DataFrams with multiple columns.

    >>> df.join(
    ...     df3,
    ...     [df.name == df3.name, df.age == df3.age],
    ...     'outer'
    ... ).select(df.name, df3.age).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  2|
    |  Bob|  5|
    +-----+---+

- Get the user details who have enrolled for the ourses
  - Need to join **users_df** and **course_enrolments_df**
  - Here are the fields that needs to be displayed
    - All fields from users_df
    - course_id and course_enrolment_id from course_enrolments_df

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id).\
    show()

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|      4|        3|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|      5|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|      5|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|      5|        2|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|      7|        5|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|      7|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|      7|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|      8|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|      8|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|      8|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|      9|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|     10|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+

In [0]:
#as both data frames have user id using same name, we can pass column name as string as well. Advantage of this approach is the condition column is mentioned once in df unlike above approach
users_df.\
    join(course_enrolments_df, 'user_id').\
    show()

+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|        5|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|        3|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|        2|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|        5|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+

- To get all columns from users_df, course_id and course_enrolmane_id from course_enrolments_df

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id).\
    select(users_df['*'],course_enrolments_df['course_id'],course_enrolments_df['course_enrolmane_id']).\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        3|                 14|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                  2|
|      5|         Loreen|         Malin|lmalin4@independe...|        5|                  6|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                 13|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                  3|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        3|                  8|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                 11|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                  5|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        5|                  9|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                 15|
|      9|        Vassily|         Tamas|vtamas@businesswe...|        2|                  4|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|        2|                  1|
+-------+---------------+--------------+--------------------+---------+-------------------+

In [0]:
# using alias
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id).\
    select('u.*','course_id','course_enrolmane_id').\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        3|                 14|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                  2|
|      5|         Loreen|         Malin|lmalin4@independe...|        5|                  6|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                 13|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                  3|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        3|                  8|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                 11|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                  5|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        5|                  9|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                 15|
|      9|        Vassily|         Tamas|vtamas@businesswe...|        2|                  4|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|        2|                  1|
+-------+---------------+--------------+--------------------+---------+-------------------+


- Get number of courses enrolled by each user. Fails as user_id is part of both the data frames

In [0]:
# using alias
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id).\
    groupBy('user_id').\
    count().\
    show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-638244179228379>, line 5
      1 # using alias
      2 users_df.alias('u').\
      3     join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id).\
      4     groupBy('user_id').\
----> 5     count().\
      6     show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/group.py:38, in dfapi.<locals>._api(self)
     36 def _api(self: "GroupedData") -> DataFrame:
     37     name = f.__name__
---> 38     jdf = getattr(self._jgd, name)()
     39     return DataFrame(jdf, self.session)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: [AMBIGUOUS_REFERENCE] Reference `user_id` is ambiguous, could be: [`ce`.`user_id`, `u`.`user_id`].

In [0]:
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id).\
    groupBy(users_df['user_id']).\
    count().\
    show()

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
|      5|    3|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+

In [0]:
# using alias
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id).\
    groupBy('u.user_id').\
    count().\
    show()

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
|      5|    3|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+

In [0]:
users_df.\
    join(course_enrolments_df, 'user_id').\
    groupBy('user_id').\
    count().\
    show()

+-------+-----+
|user_id|count|
+-------+-----+
|      3|    2|
|      4|    2|
|      5|    3|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+