In [0]:
%run "/Users/surajthallapalli@outlook.com/08 Joining Spark Data Frames/02 - Setup Datasets to perform joins"

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_at|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering python|         2021-01-04|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|      achriston5@mlb|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|
|      9|        Vassily|         Tamas|vtamas@businesswe...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

+-------------------+-------+---------+----------+
|course_enrolmane_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|      9.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+


- Get all the user details along with course enrolment details (if the user have any course enrolments)
- If the users does not have any course enrolments, we need to get all user details. Course details will be substitiued with null values
  - Need to perform left or right outer join **users_df** and **course_enrolments_df**
  - We will use left for this lecture. As *users_df* is from parent table and as we are going to use **left outer join**, we need to invoke *join* on top of *users_df*
  - Here are the fields that needs to be displayed
    - All fields from *users_df*
    - *course_id* and *course_enrolmane_id* from *course_enrolments_df*
- For this example using these data frames, using just *outer* also give same results. But it is not correect to use *outer*
- how='outer' means **full outer join**

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left').\
    show()

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|               NULL|   NULL|     NULL|      NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               NULL|   NULL|     NULL|      NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|      4|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|      5|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|      5|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|      5|        2|      9.99|
|      6|           Augy|      Christon|      achriston5@mlb|               NULL|   NULL|     NULL|      NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|      7|        5|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|      7|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|      7|        5|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|      8|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|      8|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|      8|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|      9|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|     10|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+

In [0]:
# left or left_outer or leftouter are same

users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left_outer').\
    show()

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|               NULL|   NULL|     NULL|      NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               NULL|   NULL|     NULL|      NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|      4|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|      5|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|      5|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|      5|        2|      9.99|
|      6|           Augy|      Christon|      achriston5@mlb|               NULL|   NULL|     NULL|      NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|      7|        5|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|      7|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|      7|        5|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|      8|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|      8|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|      8|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|      9|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|     10|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+

In [0]:
users_df.\
    join(course_enrolments_df, 'user_id', 'left_outer').\
    show()

+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|               NULL|     NULL|      NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               NULL|     NULL|      NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|        2|      9.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|        3|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|        2|      9.99|
|      6|           Augy|      Christon|      achriston5@mlb|               NULL|     NULL|      NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|        5|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|        5|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+---------+----------+

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'left').\
    select(users_df['*'],course_enrolments_df['course_id'],course_enrolments_df['course_enrolmane_id']).\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|     NULL|               NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     NULL|               NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        3|                 14|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                 13|
|      5|         Loreen|         Malin|lmalin4@independe...|        5|                  6|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                  2|
|      6|           Augy|      Christon|      achriston5@mlb|     NULL|               NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                 11|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        3|                  8|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                  3|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                 15|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        5|                  9|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                  5|
|      9|        Vassily|         Tamas|vtamas@businesswe...|        2|                  4|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|        2|                  1|
+-------+---------------+--------------+--------------------+---------+-------------------+

In [0]:
# using alias
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    select('u.*','course_id','course_enrolmane_id').\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|     NULL|               NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     NULL|               NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        2|                 12|
|      3|         Joanna|      Spennock|jspennock2@redcro...|        3|                 10|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        3|                 14|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|        5|                  7|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                 13|
|      5|         Loreen|         Malin|lmalin4@independe...|        5|                  6|
|      5|         Loreen|         Malin|lmalin4@independe...|        2|                  2|
|      6|           Augy|      Christon|      achriston5@mlb|     NULL|               NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                 11|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        3|                  8|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|        5|                  3|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                 15|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        5|                  9|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|        2|                  5|
|      9|        Vassily|         Tamas|vtamas@businesswe...|        2|                  4|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|        2|                  1|
+-------+---------------+--------------+--------------------+---------+-------------------+

- Get all the users who have not enrolled for any courses. Recommended to use primary key in the child table when comparing with null values

In [0]:
# using alias
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    filter('ce.course_enrolmane_id is NULL').\
    select('u.*','course_id','course_enrolmane_id').\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|     NULL|               NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     NULL|               NULL|
|      6|           Augy|      Christon|      achriston5@mlb|     NULL|               NULL|
+-------+---------------+--------------+--------------------+---------+-------------------+

In [0]:
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    filter('course_enrolmane_id is NULL').\
    select('u.*','course_id','course_enrolmane_id').\
    show()

+-------+---------------+--------------+--------------------+---------+-------------------+
|user_id|user_first_name|user_last_name|          user_email|course_id|course_enrolmane_id|
+-------+---------------+--------------+--------------------+---------+-------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|     NULL|               NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|     NULL|               NULL|
|      6|           Augy|      Christon|      achriston5@mlb|     NULL|               NULL|
+-------+---------------+--------------+--------------------+---------+-------------------+

- Get number of courses enrolled by each user
- If there are no enrollments, then count should return 0

In [0]:
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'outer').\
    groupBy('u.user_id').\
    count().\
    orderBy('u.user_id').\
    show()

+-------+-----+
|user_id|count|
+-------+-----+
|      1|    1|
|      2|    1|
|      3|    2|
|      4|    2|
|      5|    3|
|      6|    1|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+

In [0]:
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    groupBy('u.user_id').\
    count().\
    orderBy('u.user_id').\
    show()

+-------+-----+
|user_id|count|
+-------+-----+
|      1|    1|
|      2|    1|
|      3|    2|
|      4|    2|
|      5|    3|
|      6|    1|
|      7|    3|
|      8|    3|
|      9|    1|
|     10|    1|
+-------+-----+

In [0]:
from pyspark.sql.functions import *

In [0]:
# using count will not give correct result so need to make use of when and sum in aggragtions to get proper count
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    groupBy('u.user_id').\
    agg(sum(when(course_enrolments_df['course_enrolmane_id'].isNull(),0).otherwise(1)).alias('course_count')).\
    orderBy('u.user_id').\
    show()

+-------+------------+
|user_id|course_count|
+-------+------------+
|      1|           0|
|      2|           0|
|      3|           2|
|      4|           2|
|      5|           3|
|      6|           0|
|      7|           3|
|      8|           3|
|      9|           1|
|     10|           1|
+-------+------------+

In [0]:
users_df.alias('u').\
    join(course_enrolments_df.alias('ce'), users_df.user_id == course_enrolments_df.user_id,'left').\
    groupBy('u.user_id').\
    agg(sum(expr(
        '''
        CASE
            WHEN ce.course_enrolmane_id IS NULL THEN 0
            ELSE 1
        END        
         '''
    )).alias('course_count')).\
    orderBy('u.user_id').\
    show()

+-------+------------+
|user_id|course_count|
+-------+------------+
|      1|           0|
|      2|           0|
|      3|           2|
|      4|           2|
|      5|           3|
|      6|           0|
|      7|           3|
|      8|           3|
|      9|           1|
|     10|           1|
+-------+------------+