In [0]:
%run "/Users/surajthallapalli@outlook.com/08 Joining Spark Data Frames/02 - Setup Datasets to perform joins"

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_at|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering python|         2021-01-04|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|      achriston5@mlb|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|
|      9|        Vassily|         Tamas|vtamas@businesswe...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

+-------------------+-------+---------+----------+
|course_enrolmane_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|      9.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'inner').\
    show()

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|      4|        3|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|      5|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|      5|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|      5|        2|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|      7|        5|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|      7|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|      7|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|      8|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|      8|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|      8|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|      9|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|     10|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+

In [0]:
users_df.\
    join(course_enrolments_df, users_df.user_id == course_enrolments_df.user_id, 'outer').\
    show()

+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|user_id|user_first_name|user_last_name|          user_email|course_enrolmane_id|user_id|course_id|price_paid|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+
|      1|         Sandra|        Karpov|     skarpov@ovh.net|               NULL|   NULL|     NULL|      NULL|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|               NULL|   NULL|     NULL|      NULL|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 10|      3|        3|     10.99|
|      3|         Joanna|      Spennock|jspennock2@redcro...|                 12|      3|        2|      9.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                  7|      4|        5|     10.99|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|                 14|      4|        3|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  2|      5|        2|      9.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                  6|      5|        5|     10.99|
|      5|         Loreen|         Malin|lmalin4@independe...|                 13|      5|        2|      9.99|
|      6|           Augy|      Christon|      achriston5@mlb|               NULL|   NULL|     NULL|      NULL|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  3|      7|        5|      9.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                  8|      7|        3|     10.99|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|                 11|      7|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  5|      8|        2|      9.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                  9|      8|        5|     10.99|
|      8|         Nadine|     Grimsdell| ngrimsdell7@ohu.com|                 15|      8|        2|      9.99|
|      9|        Vassily|         Tamas|vtamas@businesswe...|                  4|      9|        2|      9.99|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|                  1|     10|        2|      9.99|
+-------+---------------+--------------+--------------------+-------------------+-------+---------+----------+