In [0]:
order_items = spark.read.json('/public/retail_db_json/order_items')

In [0]:
order_items.dtypes

[('order_item_id', 'bigint'),
 ('order_item_order_id', 'bigint'),
 ('order_item_product_id', 'bigint'),
 ('order_item_product_price', 'double'),
 ('order_item_quantity', 'bigint'),
 ('order_item_subtotal', 'double')]

- Get revenue using order_item_subtotal for a given order_item_order_id (eg: for order_item_order_id 2)

In [0]:
# narrow transformation
order_items.filter('order_item_order_id = 2')

DataFrame[order_item_id: bigint, order_item_order_id: bigint, order_item_product_id: bigint, order_item_product_price: double, order_item_quantity: bigint, order_item_subtotal: double]

In [0]:
order_items.filter('order_item_order_id = 2').show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+

In [0]:
from pyspark.sql.functions import *

In [0]:

help(sum)

Help on function sum in module pyspark.sql.functions:

sum(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Aggregate function: returns the sum of all values in the expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        target column to compute on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the column for computed results.

    Examples
    --------
    >>> df = spark.range(10)
    >>> df.select(sum(df["id"])).show()
    +-------+
    |sum(id)|
    +-------+
    |     45|
    +-------+

In [0]:
order_items.filter('order_item_order_id = 2').select(sum('order_item_subtotal')).show()

+------------------------+
|sum(order_item_subtotal)|
+------------------------+
|                  579.98|
+------------------------+

In [0]:
order_items.filter('order_item_order_id = 2').select(sum('order_item_subtotal').alias('order_revenue')).show()

+-------------+
|order_revenue|
+-------------+
|       579.98|
+-------------+


- Get number of items. total quantity as well as revenue for a given order item order id (ex: 2)
  - Number of items can be computed using count on order_item_quantity
  - Total quantity can be computed using sum on order_item_quantity
  - Total revenue can be computed using sum on order_item_subtotal

In [0]:
order_items. \
    filter('order_item_order_id = 2'). \
    select(
        count('order_item_quantity').alias('order_item_count'),
        count('order_item_quantity').alias('order_quanityt'),
        count('order_item_subtotal').alias('order_revenue')
    ). \
    show()

+----------------+--------------+-------------+
|order_item_count|order_quanityt|order_revenue|
+----------------+--------------+-------------+
|               3|             3|            3|
+----------------+--------------+-------------+