In [0]:
order_items = spark.read.json('/public/retail_db_json/order_items')

In [0]:
help(order_items.groupBy)

Help on method groupBy in module pyspark.sql.dataframe:

groupBy(*cols: 'ColumnOrName') -> 'GroupedData' method of pyspark.sql.dataframe.DataFrame instance
    Groups the :class:`DataFrame` using the specified columns,
    so we can run aggregation on them. See :class:`GroupedData`
    for all the available aggregate functions.

    :func:`groupby` is an alias for :func:`groupBy`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : list, str or :class:`Column`
        columns to group by.
        Each element should be a column name (string) or an expression (:class:`Column`)
        or list of them.

    Returns
    -------
    :class:`GroupedData`
        Grouped data by given columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (2, "Bob"), (2, "Bob"), (5, "Bob")], schema=["age", "name"])

    Empty grouping columns triggers a global aggregation.

    >>> df.groupBy().avg().show()
    +--------+
    |avg(age)|
    +--------+
    |    2.75|
    +--------+

    Group-by 'name', and specify a dictionary to calculate the summation of 'age'.

    >>> df.groupBy("name").agg({"age": "sum"}).sort("name").show()
    +-----+--------+
    | name|sum(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       9|
    +-----+--------+

    Group-by 'name', and calculate maximum values.

    >>> df.groupBy(df.name).max().sort("name").show()
    +-----+--------+
    | name|max(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Group-by 'name' and 'age', and calculate the number of rows in each group.

    >>> df.groupBy(["name", df.age]).count().sort("name", "age").show()
    +-----+---+-----+
    | name|age|count|
    +-----+---+-----+
    |Alice|  2|    1|
    |  Bob|  2|    2|
    |  Bob|  5|    1|
    +-----+---+-----+

In [0]:
order_items.count()

172198

In [0]:
order_items.show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
|            6|                  4|                  365|                   59.99|                  5|             299.95|
|            7|                  4|                  502|                    50.0|                  3|              150.0|
|            8|                  4|                 1014|                   49.98|                  4|             199.92|
|            9|                  5|                  957|                  299.98|                  1|             299.98|
|           10|                  5|                  365|                   59.99|                  5|             299.95|
|           11|                  5|                 1014|                   49.98|                  2|              99.96|
|           12|                  5|                  957|                  299.98|                  1|             299.98|
|           13|                  5|                  403|                  129.99|                  1|             129.99|
|           14|                  7|                 1073|                  199.99|                  1|             199.99|
|           15|                  7|                  957|                  299.98|                  1|             299.98|
|           16|                  7|                  926|                   15.99|                  5|              79.95|
|           17|                  8|                  365|                   59.99|                  3|             179.97|
|           18|                  8|                  365|                   59.99|                  5|             299.95|
|           19|                  8|                 1014|                   49.98|                  4|             199.92|
|           20|                  8|                  502|                    50.0|                  1|               50.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [0]:
order_items.groupBy().min().show()

+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|min(order_item_id)|min(order_item_order_id)|min(order_item_product_id)|min(order_item_product_price)|min(order_item_quantity)|min(order_item_subtotal)|
+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|                 1|                       1|                        19|                         9.99|                       1|                    9.99|
+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+

In [0]:
orders = spark.read.json('/public/retail_db_json/orders')

In [0]:
orders.dtypes

[('order_customer_id', 'bigint'),
 ('order_date', 'string'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

In [0]:
orders.groupBy().min().show()

+----------------------+-------------+
|min(order_customer_id)|min(order_id)|
+----------------------+-------------+
|                     1|            1|
+----------------------+-------------+

In [0]:
order_items_grouped = order_items.groupBy()

In [0]:
type(order_items_grouped)

pyspark.sql.group.GroupedData