In [0]:
order_items = spark.read.json('/public/retail_db_json/order_items')

In [0]:
order_items.show()

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
|            6|                  4|                  365|                   59.99|                  5|             299.95|
|            7|                  4|                  502|                    50.0|                  3|              150.0|
|            8|                  4|                 1014|                   49.98|                  4|             199.92|
|            9|                  5|                  957|                  299.98|                  1|             299.98|
|           10|                  5|                  365|                   59.99|                  5|             299.95|
|           11|                  5|                 1014|                   49.98|                  2|              99.96|
|           12|                  5|                  957|                  299.98|                  1|             299.98|
|           13|                  5|                  403|                  129.99|                  1|             129.99|
|           14|                  7|                 1073|                  199.99|                  1|             199.99|
|           15|                  7|                  957|                  299.98|                  1|             299.98|
|           16|                  7|                  926|                   15.99|                  5|              79.95|
|           17|                  8|                  365|                   59.99|                  3|             179.97|
|           18|                  8|                  365|                   59.99|                  5|             299.95|
|           19|                  8|                 1014|                   49.98|                  4|             199.92|
|           20|                  8|                  502|                    50.0|                  1|               50.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [0]:
order_items_grouped = order_items.groupBy('order_item_order_id')

In [0]:
type(order_items_grouped)

pyspark.sql.group.GroupedData

In [0]:
order_items_grouped. \
    count(). \
    show()

+-------------------+-----+
|order_item_order_id|count|
+-------------------+-----+
|                 29|    5|
|                474|    5|
|                964|    4|
|               1677|    5|
|               1806|    3|
|               1950|    5|
|               2214|    2|
|               2250|    4|
|               2453|    4|
|               2509|    4|
|               2529|    1|
|               2927|    5|
|               3091|    3|
|               3764|    1|
|               4590|    5|
|               4894|    4|
|               5385|    4|
|               5409|    3|
|               6721|    2|
|               7225|    4|
+-------------------+-----+
only showing top 20 rows

In [0]:
order_items_grouped. \
    count(). \
    withColumnRenamed('count','order_count').\
    show()

+-------------------+-----------+
|order_item_order_id|order_count|
+-------------------+-----------+
|                 29|          5|
|                474|          5|
|                964|          4|
|               1677|          5|
|               1806|          3|
|               1950|          5|
|               2214|          2|
|               2250|          4|
|               2453|          4|
|               2509|          4|
|               2529|          1|
|               2927|          5|
|               3091|          3|
|               3764|          1|
|               4590|          5|
|               4894|          4|
|               5385|          4|
|               5409|          3|
|               6721|          2|
|               7225|          4|
+-------------------+-----------+
only showing top 20 rows

In [0]:
# Get sum of all numeric fields

order_items_grouped. \
    sum(). \
    show()

+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_id)|sum(order_item_order_id)|sum(order_item_product_id)|sum(order_item_product_price)|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|                 29|               425|                     145|                      3897|            909.9300000000001|                       9|                 1109.85|
|                474|              5815|                    2370|                      4508|           374.94000000000005|                      13|       774.8199999999999|
|                964|              9586|                    3856|                      2964|           499.95000000000005|                      11|       739.8800000000001|
|               1677|             20860|                    8385|                      2357|                       277.97|                      14|       649.9200000000001|
|               1806|             13545|                    5418|                      1871|                       509.97|                       8|                  789.94|
|               1950|             24425|                    9750|                      4180|                       733.94|                      12|      1015.8700000000001|
|               2214|             11099|                    4428|                       693|                       149.99|                       5|                  449.96|
|               2250|             22534|                    9000|                      2236|                       569.96|                      10|                  889.94|
|               2453|             24530|                    9812|                      2607|                       749.95|                       7|       999.9300000000001|
|               2509|             25090|                   10036|                      2729|                       889.94|                       4|                  889.94|
|               2529|              6330|                    2529|                       365|                        59.99|                       1|                   59.99|
|               2927|             36510|                   14635|                      3833|                       819.94|                       8|       999.9100000000001|
|               3091|             23079|                    9273|                      2598|           389.95000000000005|                       5|      469.93000000000006|
|               3764|              9358|                    3764|                       822|                        47.99|                       2|                   95.98|
|               4590|             57515|                   22950|                      3725|            649.9300000000001|                      11|                  949.83|
|               4894|             49026|                   19576|                      3178|                       899.94|                       4|                  899.94|
|               5385|             53730|                   21540|                      2347|                       309.96|                      10|                  629.86|
|               5409|             40482|                   16227|                      1513|           459.96000000000004|                       7|       699.9200000000001|
|               6721|             33587|                   13442|                      1129|            89.99000000000001|                       3|                  139.99|
|               7225|             72338|                   28900|                      3221|           434.94000000000005|                      11|                  774.86|
+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
only showing top 20 rows

In [0]:
orders = spark.read.json('/public/retail_db_json/orders')

In [0]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [0]:
orders.\
    groupBy('order_date'). \
    sum(). \
    show()

+--------------------+----------------------+-------------+
|          order_date|sum(order_customer_id)|sum(order_id)|
+--------------------+----------------------+-------------+
|2013-08-13 00:00:...|                459650|       916059|
|2013-10-12 00:00:...|               1002372|      3370470|
|2013-11-15 00:00:...|                820656|      3349122|
|2013-09-16 00:00:...|                795738|      3418732|
|2013-09-20 00:00:...|                851705|      2247287|
|2013-12-31 00:00:...|               1619361|      7838750|
|2013-09-06 00:00:...|               1692297|      4111583|
|2013-12-24 00:00:...|               1089616|      4918816|
|2014-01-07 00:00:...|               1017046|      4765725|
|2013-10-14 00:00:...|                874047|      3535766|
|2013-11-11 00:00:...|               1596396|      5423151|
|2014-01-27 00:00:...|               1040337|      6149370|
|2014-01-29 00:00:...|                976249|      6369973|
|2014-02-14 00:00:...|               1095116|      7038749|
|2013-09-07 00:00:...|               1320314|      3294089|
|2013-09-11 00:00:...|                713835|      2236844|
|2013-10-20 00:00:...|                918923|      2944067|
|2014-01-09 00:00:...|               1323522|      6998168|
|2014-03-03 00:00:...|               1570664|     10486819|
|2014-02-04 00:00:...|                879737|      6012623|
+--------------------+----------------------+-------------+
only showing top 20 rows

In [0]:
order_items_grouped = order_items. \
    select('order_item_order_id','order_item_quantity','order_item_subtotal'). \
    groupBy('order_item_order_id')

In [0]:
# Gets sum on order_item_order_id as well. It is not reevant and better to discard aggregation on key fields such as order_item_order_id

order_items_grouped. \
    sum(). \
    show()

+-------------------+------------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_order_id)|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+------------------------+
|                 29|                     145|                       9|                 1109.85|
|                474|                    2370|                      13|       774.8199999999999|
|                964|                    3856|                      11|       739.8800000000001|
|               1677|                    8385|                      14|       649.9200000000001|
|               1806|                    5418|                       8|                  789.94|
|               1950|                    9750|                      12|      1015.8700000000001|
|               2214|                    4428|                       5|                  449.96|
|               2250|                    9000|                      10|                  889.94|
|               2453|                    9812|                       7|       999.9300000000001|
|               2509|                   10036|                       4|                  889.94|
|               2529|                    2529|                       1|                   59.99|
|               2927|                   14635|                       8|       999.9100000000001|
|               3091|                    9273|                       5|      469.93000000000006|
|               3764|                    3764|                       2|                   95.98|
|               4590|                   22950|                      11|                  949.83|
|               4894|                   19576|                       4|                  899.94|
|               5385|                   21540|                      10|                  629.86|
|               5409|                   16227|                       7|       699.9200000000001|
|               6721|                   13442|                       3|                  139.99|
|               7225|                   28900|                      11|                  774.86|
+-------------------+------------------------+------------------------+------------------------+
only showing top 20 rows

In [0]:
# Gets sum on order_item_order_id as well. It is not reevant and better to discard aggregation on key fields such as order_item_order_id

order_items_grouped. \
    sum('order_item_quantity','order_item_subtotal'). \
    show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                       9|                 1109.85|
|                474|                      13|       774.8199999999999|
|                964|                      11|       739.8800000000001|
|               1677|                      14|       649.9200000000001|
|               1806|                       8|                  789.94|
|               1950|                      12|      1015.8700000000001|
|               2214|                       5|                  449.96|
|               2250|                      10|                  889.94|
|               2453|                       7|       999.9300000000001|
|               2509|                       4|                  889.94|
|               2529|                       1|                   59.99|
|               2927|                       8|       999.9100000000001|
|               3091|                       5|      469.93000000000006|
|               3764|                       2|                   95.98|
|               4590|                      11|                  949.83|
|               4894|                       4|                  899.94|
|               5385|                      10|                  629.86|
|               5409|                       7|       699.9200000000001|
|               6721|                       3|                  139.99|
|               7225|                      11|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

In [0]:
# assign proper col names for aggregated cols
order_items_grouped. \
    sum('order_item_quantity','order_item_subtotal'). \
    toDF('order_item_order_id','order_quantity','order_revenue').\
    show()

+-------------------+--------------+------------------+
|order_item_order_id|order_quantity|     order_revenue|
+-------------------+--------------+------------------+
|                 29|             9|           1109.85|
|                474|            13| 774.8199999999999|
|                964|            11| 739.8800000000001|
|               1677|            14| 649.9200000000001|
|               1806|             8|            789.94|
|               1950|            12|1015.8700000000001|
|               2214|             5|            449.96|
|               2250|            10|            889.94|
|               2453|             7| 999.9300000000001|
|               2509|             4|            889.94|
|               2529|             1|             59.99|
|               2927|             8| 999.9100000000001|
|               3091|             5|469.93000000000006|
|               3764|             2|             95.98|
|               4590|            11|            949.83|
|               4894|             4|            899.94|
|               5385|            10|            629.86|
|               5409|             7| 699.9200000000001|
|               6721|             3|            139.99|
|               7225|            11|            774.86|
+-------------------+--------------+------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import *

In [0]:
# We can specify custom names to derived fields using toDF. withColumn can be used to apply functions such as round on aggregated results

# assign proper col names for aggregated cols
order_items_grouped. \
    sum('order_item_quantity','order_item_subtotal'). \
    toDF('order_item_order_id','order_quantity','order_revenue'). \
    withColumn('order_revenue', round('order_revenue', 2)).\
    show()

+-------------------+--------------+-------------+
|order_item_order_id|order_quantity|order_revenue|
+-------------------+--------------+-------------+
|                 29|             9|      1109.85|
|                474|            13|       774.82|
|                964|            11|       739.88|
|               1677|            14|       649.92|
|               1806|             8|       789.94|
|               1950|            12|      1015.87|
|               2214|             5|       449.96|
|               2250|            10|       889.94|
|               2453|             7|       999.93|
|               2509|             4|       889.94|
|               2529|             1|        59.99|
|               2927|             8|       999.91|
|               3091|             5|       469.93|
|               3764|             2|        95.98|
|               4590|            11|       949.83|
|               4894|             4|       899.94|
|               5385|            10|       629.86|
|               5409|             7|       699.92|
|               6721|             3|       139.99|
|               7225|            11|       774.86|
+-------------------+--------------+-------------+
only showing top 20 rows