In [0]:
order_items = spark.read.json('/public/retail_db_json/order_items')

In [0]:
order_items_grouped = order_items.groupBy('order_item_order_id')

In [0]:
order_items_grouped. \
    sum('order_item_quantity','order_item_subtotal'). \
    show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                       9|                 1109.85|
|                474|                      13|       774.8199999999999|
|                964|                      11|       739.8800000000001|
|               1677|                      14|       649.9200000000001|
|               1806|                       8|                  789.94|
|               1950|                      12|      1015.8700000000001|
|               2214|                       5|                  449.96|
|               2250|                      10|                  889.94|
|               2453|                       7|       999.9300000000001|
|               2509|                       4|                  889.94|
|               2529|                       1|                   59.99|
|               2927|                       8|       999.9100000000001|
|               3091|                       5|      469.93000000000006|
|               3764|                       2|                   95.98|
|               4590|                      11|                  949.83|
|               4894|                       4|                  899.94|
|               5385|                      10|                  629.86|
|               5409|                       7|       699.9200000000001|
|               6721|                       3|                  139.99|
|               7225|                      11|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

In [0]:
type(order_items_grouped)

pyspark.sql.group.GroupedData

In [0]:
help(order_items_grouped.agg)

Help on method agg in module pyspark.sql.group:

agg(*exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.group.GroupedData instance
    Compute aggregates and returns the result as a :class:`DataFrame`.

    The available aggregate functions can be:

    1. built-in aggregation functions, such as `avg`, `max`, `min`, `sum`, `count`

    2. group aggregate pandas UDFs, created with :func:`pyspark.sql.functions.pandas_udf`

       .. note:: There is no partial aggregation with group aggregate UDFs, i.e.,
           a full shuffle is required. Also, all the data of a group will be loaded into
           memory, so the user should be aware of the potential OOM risk if data is skewed
           and certain groups are too large to fit in memory.

       .. seealso:: :func:`pyspark.sql.functions.pandas_udf`

    If ``exprs`` is a single :class:`dict` mapping from string to string, then the key
    is the column to perform aggregation on, and the value is the aggregate function.

    Alternatively, ``exprs`` can also be a list of aggregate :class:`Column` expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    exprs : dict
        a dict mapping from column name (string) to aggregate functions (string),
        or a list of :class:`Column`.

    Notes
    -----
    Built-in aggregation functions and group aggregate pandas UDFs cannot be mixed
    in a single call to this function.

    Examples
    --------
    >>> from pyspark.sql import functions as F
    >>> from pyspark.sql.functions import pandas_udf, PandasUDFType
    >>> df = spark.createDataFrame(
    ...      [(2, "Alice"), (3, "Alice"), (5, "Bob"), (10, "Bob")], ["age", "name"])
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  3|Alice|
    |  5|  Bob|
    | 10|  Bob|
    +---+-----+

    Group-by name, and count each group.

    >>> df.groupBy(df.name)
    GroupedData[grouping...: [name...], value: [age: bigint, name: string], type: GroupBy]

    >>> df.groupBy(df.name).agg({"*": "count"}).sort("name").show()  # doctest: +SKIP
    +-----+--------+
    | name|count(1)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       2|
    +-----+--------+

    Group-by name, and calculate the minimum age.

    >>> df.groupBy(df.name).agg(F.min(df.age)).sort("name").show()
    +-----+--------+
    | name|min(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Same as above but uses pandas UDF.

    >>> @pandas_udf('int', PandasUDFType.GROUPED_AGG)  # doctest: +SKIP
    ... def min_udf(v):
    ...     return v.min()
    ...
    >>> df.groupBy(df.name).agg(min_udf(df.age)).sort("name").show()  # doctest: +SKIP
    +-----+------------+
    | name|min_udf(age)|
    +-----+------------+
    |Alice|           2|
    |  Bob|           5|
    +-----+------------+

In [0]:
from pyspark.sql.functions import *

In [0]:
order_items_grouped. \
    agg(sum('order_item_quantity'), sum('order_item_subtotal')). \
    printSchema()

root
 |-- order_item_order_id: long (nullable = true)
 |-- sum(order_item_quantity): long (nullable = true)
 |-- sum(order_item_subtotal): double (nullable = true)

In [0]:
order_items_grouped. \
    agg(sum('order_item_quantity'), sum('order_item_subtotal')). \
    show()

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------------+------------------------+
|                 29|                       9|                 1109.85|
|                474|                      13|       774.8199999999999|
|                964|                      11|       739.8800000000001|
|               1677|                      14|       649.9200000000001|
|               1806|                       8|                  789.94|
|               1950|                      12|      1015.8700000000001|
|               2214|                       5|                  449.96|
|               2250|                      10|                  889.94|
|               2453|                       7|       999.9300000000001|
|               2509|                       4|                  889.94|
|               2529|                       1|                   59.99|
|               2927|                       8|       999.9100000000001|
|               3091|                       5|      469.93000000000006|
|               3764|                       2|                   95.98|
|               4590|                      11|                  949.83|
|               4894|                       4|                  899.94|
|               5385|                      10|                  629.86|
|               5409|                       7|       699.9200000000001|
|               6721|                       3|                  139.99|
|               7225|                      11|                  774.86|
+-------------------+------------------------+------------------------+
only showing top 20 rows

In [0]:
order_items_grouped. \
    agg(sum('order_item_quantity').alias('order_quantity'), round(sum('order_item_subtotal'),2).alias('order_revenue')). \
    show()

+-------------------+--------------+-------------+
|order_item_order_id|order_quantity|order_revenue|
+-------------------+--------------+-------------+
|                 29|             9|      1109.85|
|                474|            13|       774.82|
|                964|            11|       739.88|
|               1677|            14|       649.92|
|               1806|             8|       789.94|
|               1950|            12|      1015.87|
|               2214|             5|       449.96|
|               2250|            10|       889.94|
|               2453|             7|       999.93|
|               2509|             4|       889.94|
|               2529|             1|        59.99|
|               2927|             8|       999.91|
|               3091|             5|       469.93|
|               3764|             2|        95.98|
|               4590|            11|       949.83|
|               4894|             4|       899.94|
|               5385|            10|       629.86|
|               5409|             7|       699.92|
|               6721|             3|       139.99|
|               7225|            11|       774.86|
+-------------------+--------------+-------------+
only showing top 20 rows

In [0]:
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_subtotal': 'sum' }). \
    printSchema()

root
 |-- order_item_order_id: long (nullable = true)
 |-- sum(order_item_subtotal): double (nullable = true)
 |-- sum(order_item_quantity): long (nullable = true)

In [0]:
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_subtotal': 'sum' }). \
    toDF('order_item_order_id','order_quantity','order_revenue'). \
    withColumn('order_revenue', round('order_revenue',2)). \
    printSchema()

root
 |-- order_item_order_id: long (nullable = true)
 |-- order_quantity: double (nullable = true)
 |-- order_revenue: long (nullable = true)

In [0]:
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_subtotal': 'sum' }). \
    toDF('order_item_order_id','order_quantity','order_revenue'). \
    withColumn('order_revenue', round('order_revenue',2)). \
    show()

+-------------------+------------------+-------------+
|order_item_order_id|    order_quantity|order_revenue|
+-------------------+------------------+-------------+
|                 29|           1109.85|            9|
|                474| 774.8199999999999|           13|
|                964| 739.8800000000001|           11|
|               1677| 649.9200000000001|           14|
|               1806|            789.94|            8|
|               1950|1015.8700000000001|           12|
|               2214|            449.96|            5|
|               2250|            889.94|           10|
|               2453| 999.9300000000001|            7|
|               2509|            889.94|            4|
|               2529|             59.99|            1|
|               2927| 999.9100000000001|            8|
|               3091|469.93000000000006|            5|
|               3764|             95.98|            2|
|               4590|            949.83|           11|
|               4894|            899.94|            4|
|               5385|            629.86|           10|
|               5409| 699.9200000000001|            7|
|               6721|            139.99|            3|
|               7225|            774.86|           11|
+-------------------+------------------+-------------+
only showing top 20 rows

In [0]:
# using dict has limitation. cannot specify same key twice for different aggregations. Even if we specify it will pick only one of them
order_items_grouped. \
    agg({'order_item_quantity': 'sum', 'order_item_quantity': 'min' }). \
    show()

+-------------------+------------------------+
|order_item_order_id|min(order_item_quantity)|
+-------------------+------------------------+
|                 29|                       1|
|                474|                       1|
|                964|                       1|
|               1677|                       1|
|               1806|                       1|
|               1950|                       1|
|               2214|                       1|
|               2250|                       1|
|               2453|                       1|
|               2509|                       1|
|               2529|                       1|
|               2927|                       1|
|               3091|                       1|
|               3764|                       2|
|               4590|                       1|
|               4894|                       1|
|               5385|                       1|
|               5409|                       1|
|               6721|                       1|
|               7225|                       1|
+-------------------+------------------------+
only showing top 20 rows

In [0]:
order_items_grouped. \
    agg(sum('order_item_quantity').alias('order_quantity'), 
        min('order_item_quantity').alias('min_order_quantity'),
        round(sum('order_item_subtotal'),2).alias('order_revenue'),
        min('order_item_subtotal').alias('min_order_item_subtotal')
        ). \
    show()

+-------------------+--------------+------------------+-------------+-----------------------+
|order_item_order_id|order_quantity|min_order_quantity|order_revenue|min_order_item_subtotal|
+-------------------+--------------+------------------+-------------+-----------------------+
|                 29|             9|                 1|      1109.85|                 129.99|
|                474|            13|                 1|       774.82|                  24.99|
|                964|            11|                 1|       739.88|                 129.99|
|               1677|            14|                 1|       649.92|                   50.0|
|               1806|             8|                 1|       789.94|                  150.0|
|               1950|            12|                 1|      1015.87|                  87.96|
|               2214|             5|                 1|       449.96|                   50.0|
|               2250|            10|                 1|       889.94|                  59.99|
|               2453|             7|                 1|       999.93|                  100.0|
|               2509|             4|                 1|       889.94|                  59.99|
|               2529|             1|                 1|        59.99|                  59.99|
|               2927|             8|                 1|       999.91|                 119.98|
|               3091|             5|                 1|       469.93|                  49.98|
|               3764|             2|                 2|        95.98|                  95.98|
|               4590|            11|                 1|       949.83|                  99.99|
|               4894|             4|                 1|       899.94|                  99.99|
|               5385|            10|                 1|       629.86|                   70.0|
|               5409|             7|                 1|       699.92|                  99.99|
|               6721|             3|                 1|       139.99|                  39.99|
|               7225|            11|                 1|       774.86|                  74.97|
+-------------------+--------------+------------------+-------------+-----------------------+
only showing top 20 rows